[2017-06-24 02:54] Sergix opened #7 "Batch Interpretation"
If someone would be willing to help with the batch interpreter, please do! I'm not very knowledgeable on compiler/interpreter programming, so any help would be _greatly_ appreciated.

There is already some code in `src/java/main/jterm/Exec.java`, which supports a couple basic commands. This entire file will most likely need to be rewritten though, as it is not structured well.

The task involves:

[2017-07-04 11:26] spectral369 opened #14 "Multiple instances of 'Window' wont close at quit"
Hey, As the title says: you cannot quit the app while (multiple) 'Window' instances are open. :)

[2017-07-04 15:09] Sergix commented on #14
You're right... This should be an easy fix. 👍 Thanks for the bug report!

[2017-07-04 15:45] Sergix commented on #14
The updated code has been merged into dev. https://github.com/Sergix/JTerm/pull/13/commits/ad273c1153774c02fa70ec06d7b00d724553e125

[2017-07-04 15:45] #14 closed

[2017-07-06 11:56] spectral369 opened #15 "Change directory command wont change directory that have space in the name"
Hey,..(again)
'cd' command wont change directory that have space in the name
e.g : cd /home/<user>/Downloads/test test/
also
it should take full path as string
e.g: cd "/home/<user>/Downloads/test test/"
also
can i gain access to your dev branch ?(i'm re- relearning to code)(in my free time)

[2017-07-06 15:14] Sergix commented on #15
Thanks for the bug report! I'll try and fix this quickly and share the commit in this issue.

As for the request to have write access to the dev branch, I'm going to have to deny access. Only the project administrators are to have the ability to merge and push to any branch in the repository. The project admins are myself (@sergix) and @NCSGeek.

If you have code that you would like to contribute,

[2017-07-06 15:19] Sergix commented on #15
Also, what is the advantage of passing the directory argument as a string? I won't add it if it isn't necessary and isn't used often by CLI users.

[2017-07-06 15:57] Sergix commented on #15
Here are the changes: https://github.com/Sergix/JTerm/pull/13/commits/a5e181c43449c4a44d4ca61288ae58efebdf6f9d

[2017-07-06 16:34] spectral369 commented on #15
It's ok, i understand.
It's implemented in LXTerminal, i use it sometimes;
thats why i suggest it :-)

[2017-07-06 16:38] Sergix commented on #15
Oh, ok. Then I'll go ahead and put it in there. 😜
I'll reference the commit here so you can see it once its pushed.

After this next commit I'll close this issue.

[2017-07-06 19:27] #15 closed

[2017-07-09 01:01] Sergix opened #16 "Read File"
I'm putting this as up-for-grabs as it's simple and probably won't take more than 30 minutes. 😀

All I need is a `ReadFile` method in `Files.java`; here are it's requirements:
- Read an entire file
- Output the data to the console
- Have `-h` and `file` command options (e.g. `read -h`; `read info.txt`) (_optional_)
    - Look in other command functions for an example (hint: uses a for loop on Arra

[2017-07-10 22:58] #16 closed

[2017-07-12 08:22] HarshKhatore opened #18 "Spelling correction for 'usge' in README.md"

[2017-07-12 20:21] #18 closed

[2017-07-20 00:20] rkulesza9 commented on #7
@Sergix
If you don't mind, I'd like to try to help out. Do you just need code that runs MS-DOS batch files or do you want help restructuring Exec.java ?

[2017-07-20 00:54] Sergix commented on #7
@TheFurtiveArbiter
Hey, thanks for looking into this!

So really, the aim of the Exec class is to provide a framework for, as you mentioned, running MS-DOS batch files. However, I am not very experienced in the realm of programming language development and parsing. Therefore, the code that is already in Exec.java will probably need to be completely rebuilt from the ground-up.

What I am looking fo

[2017-07-21 06:50] rkulesza9 commented on #7
@Sergix
No problem. Thank you for letting me (attempt to) help. I'm trying to jump into open source, so this is one of the first projects I've tried to help with. I just went through the code and have a couple of ideas on exec.java. But they effect everything else so I wanted to talk about it first. Feel free to trash it. In the mean time I think i'll work on the code -- sounds fun.

I was thinkin

[2017-07-21 18:48] Sergix commented on #7
It's great that you're getting into open source! I personally think it's the best platform for collaborative programming projects.

I read over your idea, and I must say, I'm surprised I've never thought of it before! A hashtable would be much more efficient than a switch statement... I'll get to work on this immediately. My idea for its implementation would be to have a global static hashtable st

[2017-09-07 02:06] Sergix opened #20 "Library Import Issue"
In changelog entry #69, an issue was presented that will be covered more in-depth here.

In `Ps.java`, the `import org.apache.commons.lang3.SystemUtils;` line does not actually seem to be importing the library into the compiled JAR with Maven.

When you run the JAR with `java -cp target/jterm-0.5.0.jar main.java.jterm.JTerm`, it gives the following error when calling the `ps` command:
[code]

Mave

[2017-09-07 20:37] NCSGeek commented on #20
Strange, I've never heard of an issue with importing a default java library.

[2017-09-07 20:48] Sergix commented on #20
Actually, it's a library provided by Apache (available both as a binary and as a Maven POM dependency.)
https://commons.apache.org/proper/commons-lang/

Perhaps I should try and just include the binary in the classpath, but I don't know how that works with Maven. Any help would be appreciated. 😜

[2017-09-08 17:02] Sergix commented on #20
Almost fixed this issue, just waiting for the CI build to pass.

https://github.com/Sergix/JTerm/commit/40e3ade76e4d4cae24f9af079831de5f58df3f15
https://github.com/Sergix/JTerm/commit/5f3989d17ca55c1c58fbd9eea4a795fae0a47bc1

[2017-09-08 17:03] Sergix commented on #20
Issue fixed! View changelog entry #72 and https://github.com/Sergix/JTerm/commit/40e3ade76e4d4cae24f9af079831de5f58df3f15 for details.

[2017-09-08 17:03] #20 closed

[2017-09-09 03:19] Sergix opened #22 "Feature Requests!"
![JTerm](https://sergix.github.io/img/jterm.png)

Have an idea for a command or feature for the JTerm application? Comment below! 😄

I'm looking to get a bunch of ideas for new things to add, and stuff I'm possibly overlooking that should have been added already. So, if you ever think of something, comment, and we'll discuss the possibility of adding it to JTerm! 😀

[2017-09-09 23:43] NCSGeek opened #23 "[Bug] Opening from command line (Windows)"
Upon running:
[code]
It returns **no main manifest attribute, in jterm-v0.4.1.jar**.

[2017-09-09 23:56] Sergix commented on #23
Hmm.

Running `java -cp jterm-v0.4.1.jar main.java.jterm.JTerm` runs it correctly though, and this is what the testing process uses.

Gonna look into why the MANIFEST isn't working, as it seems as if it's in the JAR.

[2017-09-10 01:22] Sergix commented on #23
Fixed Issue. https://github.com/Sergix/JTerm/commit/6aed00ad4a42d06b5f7772ee538f9366156893d5

View changelog entry #81 for details.

[2017-09-10 01:22] #23 closed

[2017-09-10 02:46] Sergix commented on #7
This commit https://github.com/Sergix/JTerm/commit/ce0091cc2077583bd49bb052f9da3f882cc8347d implements what is being discussed regarding changes in this Issue.

[2017-09-10 23:23] Sergix commented on #7
https://github.com/Sergix/JTerm/pull/25/commits/96bc608a8deb9c0908da472266783f31f0b40829

[2017-09-19 23:39] nanoandrew4 commented on #22
Would you not want to start off by implementing the same functionality as a standard cmd console, for example? Also, I downloaded the latest version of the program on Linux and it crashed as soon as I entered a command, so I might jump on and give you a hand with some code.

[2017-09-20 03:23] Sergix commented on #22
First off, thanks for helping out with our project!

So, the purpose of this Issue is to kind of keep a list of things people want to see implemented into JTerm aside from the basic stuff. Hopefully, most MS-DOS and UNIX commands will be implemented in some form, but it's also hard to keep track of all these at once, which is also what this Issue is useful for. :P

As for the crashing issue, would

[2017-09-21 02:13] Sergix commented on #22
https://github.com/Sergix/JTerm/commit/2c0ccd58b8c97e9027834e948b91247c04b12eca

This might help in part of the issue you are talking about. View changelog entry #86 for details.

[2017-09-21 02:40] nanoandrew4 commented on #22
The issues I had were due to a faulty Java setup, everything runs fine now.

In terms of features, there are a lot that we can add, but any particular direction or subset you would like to tackle? All you really need to do at this point for inspiration is type help in your terminal window, take notes on which commands you want to implement and then implement them :P

An interesting idea would be t

[2017-09-21 21:39] Sergix commented on #22
Well, as of right now, the main thing attempting to be worked on is Batch File Interpretation (https://github.com/Sergix/JTerm/issues/7).

Actually, back in around 0.2.0 of the project, I attempted to get tab completion working but ended up giving up on it, so if you have any knowledge around this or have an idea for its implementation, I'm taking all the help I can get. 😜

As for the whole `dir l

[2017-09-22 03:03] nanoandrew4 commented on #22
In regards to the dir ls thing, a hashmap could be implemented where all the functions are mapped to their file, so when you enter ls, it looks it up in the hashmap, returns dir and adds ls after it to run it. The downside to that is that each command would have to be hardcoded.

I looked into tab completion, and it looks either impossible or very challenging, especially without the use of a 3rd p

[2017-09-22 11:17] Sergix commented on #22
Actually, in the batch file interpretation conversation (https://github.com/Sergix/JTerm/issues/7), @TheFurtiveArbiter<https://github.com/TheFurtiveArbiter>  presented a very similar idea involving the command hashmap. Before, however, it would've been much more difficult, but now that I _can_ use class names to call the commands through reflection, I'll take it into more consideration.

As for ta

[2017-09-22 16:04] nanoandrew4 commented on #22
I'll start opening new issues for the different topics if you don't mind, so that we don't flood this one thread

[2017-09-22 19:40] nanoandrew4 opened #31 "Tab autocompleting"
I have the basic framework down, just have some minor checks to make and the new input system will be good to go. The only thing outstanding is autocompleting commands... In order to do this, a list of some sort will have to be kept, unless you can suggest another method of approaching the problem.

[2017-09-22 20:22] nanoandrew4 commented on #31
Not only that, but in order to distinguish what kind of autocomplete, all classes will have to return the format that their commands must run in, so that the autocomplete knows if it completing a file name or a command.

If there are no spaces for example, the autocomplete will assume that there must be a command so it will look up all command names, match the current input to whatever commands fi

[2017-09-23 02:00] Sergix commented on #22
Sounds good 👍

[2017-09-23 02:37] Sergix commented on #31
Hm. Well first off, if you haven't already, fork this repo and push all your changes to that repository so I can review the changes you've made, if that's fine with you.

And yeah, the frustrating thing with the key detection is that it registers the keypresses from the system, and it doesn't have to be focused on the interpreter.

To autocomplete the command itself, it might not be necessary to h

[2017-09-23 03:28] nanoandrew4 commented on #31
https://github.com/nanoandrew4/JTerm/blob/master/src/main/java/jterm/JTerm.java

That is the code I have now, see commits for change info. No autocomplete as the terminal does not allow that I aggregate characters to the input, and although I could simply print the missing characters and add those characters to the command string, on my IntelliJ console it would look weird since output is in green

[2017-09-23 03:39] nanoandrew4 opened #32 "Binaries execution"
I took a look at your exec class and I just have a couple questions about that...

First of all, why is a File object created using a specific file, and then recreated with the addition of it's path?

Also, for executing binaries such as regular executable files and bash files, a simple Runtime and Process combo could be used to run it at the system level. Different file types would have to be han

[2017-09-23 03:49] Sergix commented on #31
Well, I am definitely impressed by the amount of new code you included. 😜

I'm still trying to figure it out at the moment and go through it, so I'll get back to you on how it looks. However, if possible, could you put the code related to NativeKeyEvent into its own class (`EventHandler`?) rather than putting it in the `JTerm` class? I'd rather not stuff the `JTerm` class with a ton of code if not

[2017-09-23 04:18] Sergix commented on #32
Well first off, the `Exec` class needs to be completely rewritten (https://github.com/Sergix/JTerm/issues/7). :P But to answer your question, I'm not sure. I think it was so if the user provided a complete path (i.e. `/usr/home/file.txt`) rather than just typing the file name while in the correct working directory. But yes, it needs to be reworked _completely_. 😜

Anyways, your proposal for the pr

[2017-09-23 16:18] Sergix commented on #31
This library looks promising: https://jline.github.io/jline2/xref/index.html

[2017-09-23 19:58] nanoandrew4 commented on #31
I have been looking at it for several hours, sifting through the code and examples, and I can not for the life of me figure out how to integrate it, because I don't understand how it takes input and how it auto completes at once. I'll take a look at it later, maybe I'm just blocked right now. In the meantime I will explore other options.

For the next commit I will move all the input code to it's

[2017-09-23 21:24] Sergix commented on #31
Hm, ok. But all the searching I've done so far on StackOverflow so far has all pointed to that library for tab completion in Java, although I'm sure there are alternative libraries.

[2017-09-23 21:37] nanoandrew4 commented on #31
If you can find a way to implement that great, but I'm incapable of determining how we complete our own commands, and I have not been able to set up a test case for JLine that works, either I missed something or the documentation is lacking.

I found this snipped of code: http://www.source-code.biz/snippets/java/RawConsoleInput/RawConsoleInput.java

It only works in the terminal windows (not IDE)

[2017-09-23 21:56] Sergix commented on #31
Hm, sounds interesting. The source example looks interesting as well. This will probably work, even though, as you said, we will still have to make our own tab completion.

[2017-09-23 22:00] nanoandrew4 commented on #31
So you are fine with using that code to read the input?

[2017-09-23 22:01] Sergix commented on #31
Yep! Let me know if there are any complications with importing the code.

Just go ahead and put it in its own file.

[2017-09-23 23:24] nanoandrew4 commented on #31
5f701c43e1a1a7efeb572d145660d1740729d4f8 there is the current version with all the changes. File completion is working, but nothing on command completion until we decide how we will approach that. Check it out and give it a spin if you can, all feedback is good, especially if you get bugs on your system that I would otherwise not get.

[2017-09-24 01:33] Sergix commented on #31
Hm, I'm getting a build error from Maven, looks like it can't find the `com.sun.jna` library. Is it able to be included in the POM?

[2017-09-24 01:56] nanoandrew4 commented on #31
I'll include it now, my bad, I had copied all the code in to a non-maven project and it's being weird now. I'll have the correct pom file up in a second

[2017-09-24 02:06] Sergix commented on #31
Ok, thanks! 😀

[2017-09-24 03:25] nanoandrew4 commented on #31
New pom file pushed fe14ac8cd5bdc4dc02cd3b63f467007e76d22963
Sorry for all the spacing changes, I guess my IDE had a moment and decided to modify some of the file for some reason

[2017-09-24 20:25] Sergix commented on #31
Well, I'm having some issues with this build. First off, out of curiosity, what platform are you testing on?

Second, Maven is skipping over the MANIFEST building in the dependency compilation for some odd reason. Therefore I am unable to run the built JAR without specifying the main class.

Third, I'm unable to run the JAR in a Linux terminal because it requires a graphical output (in this case t

[2017-09-24 20:29] nanoandrew4 commented on #31
I am testing on Linux Mint 17.
I am not sure why that would happen, I am able to run the program within gnome-terminal just fine. I do however build with the IDE I use instead of Maven, I will test with Maven now.
As for the Toolkit, that can be removed, it just means when the application starts we have set caps in the program to be on or off, which might be a bit weird for the user, since we can'

[2017-09-24 22:03] Sergix commented on #31
Can I have the commit link? `InstantiationException` is caused when it can't find or load the command class, and it is a part of reflection. Once I have your updated code I'll take a look.

[2017-09-24 22:08] nanoandrew4 commented on #31
29ce8e78aba037e99527bc44c90edc8424e16d47 is the link. I messed up the commits and hard reset back a couple steps, so I had to reupload the code. All files are there, as well as the pom.xml that lets you run the jar files normally.

[2017-09-24 22:49] Sergix commented on #31
Ok, well I have seem to found some issues with using raw input.

Windows and Linux have different interpretations for certain ASCII escape codes. Therefore, when I type a backspace in my Windows terminal, it doesn't replace the character, it just moves the cursor backwards. When I try and hit enter, it doesn't do anything. Also, when I use Delete, it replaces the character with a `?` character, wh

[2017-09-24 23:10] Sergix commented on #31
The `InstantiationException` was caused due to the code in the fork not being updated with the latest code in the repo. I've fixed it on my local machine.

[2017-09-25 00:07] nanoandrew4 commented on #31
Latest update fixes the issue by replacing the code with the newer version. I am not sure why my computer is not fetching the latest changes in your repository and merging them into mine, I'm looking at that now.
I will make a program so I can tell what the windows ascii values for these are, and update the program when I have all the values I need.

[2017-09-25 00:16] Sergix commented on #31
Sounds good 👍

[2017-09-25 03:13] nanoandrew4 commented on #31
4bf6689a0855ad2184ad8b69d887df3007ea758b added support except for Delete key, for now only backspace works. I did some testing in Windows 7 and it seems to work fine, but I will continue testing tomorrow. If you have a chance to give it a spin let me know what bugs you encounter.
I also moved the input handling code to a separate class to avoid clogging up the JTerm class.

For some reason the del

[2017-09-25 20:25] Sergix commented on #31
Great job! Commands now seem to work.

The main issue I've encountered is that when you call a command, the output replaces certain characters on that line. I've attached screenshots to help describe the situation.

![screenshot 44](https://user-images.githubusercontent.com/20588081/30829185-2bf74db4-a20e-11e7-8569-65b311904353.png)
![screenshot 45](https://user-images.githubusercontent.com/205880

[2017-09-26 03:36] nanoandrew4 commented on #31
Simple fix, 84e32b19258fb16e264dd6f984aadfe36a152ffe
Tested on Windows 7 and working now.

So what is the plan on autocompleting the commands in the end, have you decided?
Any other issues outstanding?

[2017-09-26 19:23] Sergix commented on #31
Well, define exactly what you mean by "plan". If you mean the scope of what it will autocomplete, then it should be able to complete command names and files in the working directory, and command subset names (`dir ls`).

As far as other issues go, I haven't seen anything obvious yet, but I haven't been able to do extensive testing yet. Hopefully I'll get to do some more this afternoon.

[2017-09-26 20:03] Sergix commented on #31
For implementing the list of commands it should autocomplete, I'll work on that myself, since it might involve using reflection to access command methods.

For files, it should be pretty simple. Just grab all the files in the working directory (`JTerm.currentDirectory`) and look for a match.

[2017-09-26 20:17] nanoandrew4 commented on #31
File completion is already implemented and working, at least in Linux. Note
that if you're only on the first command, it will not complete because it
will try to complete commands instead, so to test it do something like exec
filename and it should autocomplete the file.

On Sep 26, 2017 17:03, "Sergix" <notifications@github.com> wrote:

For implementing the list of commands it should autocomplete

[2017-09-26 20:50] Sergix commented on #31
Could you give an example? I'm not really sure what you mean.

[2017-09-26 20:58] nanoandrew4 commented on #31
If, assuming you have a file called "jterm.jar" for example, you type in "jte" and hit tab it will not complete, because if the number of arguments is less than two, it will run the CommandAutocomplete function, which is empty. However if you type "exec jte" and hit tab, it should autocomplete the file name using the FileAutocomplete function and should end up looking like "exec jterm.jar", or giv

[2017-09-26 21:06] Sergix commented on #31
Oh ok, gotcha. Once we eventually merge your changes I'll take a closer look, but thanks for the explanation.

After we do the final fixes here, I'll open a PR, merge the changes into dev, and do some final formatting and other touching up.

[2017-09-26 23:35] Sergix commented on #31
Issues found so far:

- If you enter a command and autocomplete, and it gives a list of possible options for files, the next line of input you enter does nothing.
- When it shows a list of autocompletes, it doesn't replace the characters already being typed.

Also, instead of listing all the options out in one line, would it be possible to have it cycle through the options each type you hit `TAB`?

[2017-09-26 23:42] nanoandrew4 commented on #31
It can be done, I'll take a look at those bugs and implementing those features tomorrow probably. If it is showing a list of files, it will not autocomplete, only if there is only one matching result, because I haven't implemented the file iteration yet.

Thanks for the testing!

[2017-09-26 23:42] Sergix opened #33 "Clear Screen"
One of the basic functionalities yet to be added to JTerm is a "clear screen" command.

Implementation-wise, it would be best to replace all the characters on the screen that are visible, and then output an input prompt.

[2017-09-26 23:43] Sergix commented on #22
Opened https://github.com/Sergix/JTerm/issues/33.

[2017-09-27 16:44] nanoandrew4 commented on #31
I have been unable to replicate the autocomplete error, when I input for example "exec" followed by something and autocomplete, it autocompletes fine and if I run it it gives the usual exec error that is expected. What platform was the error in?

The second point I don't think is an error... It is not supposed to replace the characters unless it finds only one file that fits because tabbing throug

[2017-09-27 17:49] Sergix commented on #31
Actually, for me, `exec` is the exception. It happens with `dir`- and `files`-related commands. It actually doesn't print out an error, though.

What I mean with the second point is if, for example, I type `exec b` and hit `TAB`, the line turns into `exec bbuild build.bat`.

[2017-09-27 18:09] Sergix commented on #31
Also, I'm testing on Windows.

[2017-09-27 19:03] nanoandrew4 commented on #31
That should all be fixed here cf7cce2730db1512068201cbcf38b060552f7d79

I have tested it on Linux and all is working. Let me know if (or when...) something breaks. I will add the tabbing through options later, I just wanted to improve readability and fix stuff that was not really working before moving on.

[2017-09-27 19:32] Sergix commented on #31
Update looks great! I have tested it on both Linux and Windows, and everything looks good so far!

[2017-09-29 03:39] ccmetz commented on #33
I would be interested in working on this issue. I'm new to contributing on github but have a pretty good amount of experience in Java and this doesn't sound too difficult at first glance.

[2017-09-29 14:11] nanoandrew4 commented on #33
Ideally what you could do for this is remove all output line by line on the console, using a modified version of the ClearLine method that is sitting in the dev branch of my fork. Although printing lines would be much easier, it leaves the cursor at the bottom of the terminal window. Alternatively, make the OS run the cls or clear command depending on the OS the program is running on, using Runtim

[2017-09-29 14:14] nanoandrew4 commented on #31
All that is left is the tab rotation and command completing, but since you said all that is yours to implement due to the use of reflection, I will implement the tab rotation and that would make it ready for merging into the main repo correct? Or do we have any outstanding issues?

On my end all is functioning well, but if there is anything you can think of just post and we will make a list of stu

[2017-09-29 15:38] Sergix commented on #31
So far, I have seen no issues with tab completion. And yes, after tab rotation is implemented your repo will be merged into dev so I can finish up on it.

Thanks again for all the work you've done so far! I really can't express my gratitude for all the time you've put in to working on this project.

[2017-09-29 15:48] Sergix commented on #33
Thanks for looking into this, @ccmetz !

To implement this, I would go with the first part of what @nanoandrew4 said, and use `ClearLine` (although this function doesn't exist in the head repo yet). When writing this code, create a new class (ideally `Clear.java`) that will have all the related functions for clearing the screen. Then create a public constructor method. All your basic code will go

[2017-09-29 16:04] nanoandrew4 commented on #31
Check out the tab rotation 95d76a44265aba4ed74f7f00342e6c1063de7271
Tested and working on my system!

[2017-09-29 16:10] Sergix commented on #31
Wow! This looks great! No noticeable issues either. 😃

If you can, please open a PR to merge your `dev` branch into the head `dev`. Then I'll merge it and write up the changelog.

Thanks so much for implementing this! This feature is really great to have, and it's pretty cool that you made it work in _Java_, of all things. 😜

[2017-09-29 16:10] ccmetz commented on #33
Sounds good, @Sergix !

I see that this is an eclipse project. I've been using Intellij for awhile now. Is there anything special I would need to do if I wanted to work on this project in Intellij? Or should I just download Eclipse and use that to be safe?

Also, I would love to join your slack group. You can send an invite to `ccmetz92@gmail.com`.

@nanoandrew4 , if you could let me know when you

[2017-09-29 16:35] Sergix commented on #33
It shouldn't matter what IDE you use, especially since I use Visual Studio Code to work on this project. 😜 I'm not really sure if there is any special setup, other than the obvious fact that you need Maven installed.

Plus, if you are on Windows, there's a few batch scripts included in the repository (`init.bat`, `build.bat`, and `run.bat`) that I use to build the project since I use VSCode. If In

[2017-09-29 16:52] nanoandrew4 commented on #31
No problem! It was my pleasure to work on this, and it's nice to see it working. Pull request has been submitted, and this issue can probably be closed now!

Any issues from the merge onwards just create new issues, as the bugs will likely be squashed fast. Also, that means we won't have an issue with an insane amount of comments :P

[2017-09-29 16:55] #31 closed

[2017-09-29 16:57] nanoandrew4 commented on #33
Pull request submitted, changes should be live soon.

@ccmetz I work on IntelliJ, just import the project by choosing the pom.xml file, set your source folders under Project Structure -> Modules -> Sources to src (just click on src and then on the Sources button that has a blue folder beside it) and all should be good! I got it up and running, so any questions, just ask (though maybe open another

[2017-09-29 21:54] ccmetz opened #35 "Running JTerm with Maven"
Hey all,

I have a question about an error I'm getting while trying to run JTerm with Maven:

I successfully imported the project into IntelliJ as a maven project but when I click the Run Maven Build button I'm getting the following error from the deploy plugin:

`Failed to execute goal org.apache.maven.plugins:maven-deploy-plugin:2.7:deploy (default-deploy) on project jterm: Deployment failed: re

[2017-09-29 21:57] Sergix commented on #35
Is that the full output from Maven? If not, please attach the entirety of the build message from Maven.

[2017-09-29 21:58] Sergix commented on #33
https://github.com/Sergix/JTerm/commit/80e428858372412a590cfd8edd6e6162836de06f
Includes all the code necessary.

[2017-09-29 22:10] ccmetz commented on #35
Here's the full output:

/Library/Java/JavaVirtualMachines/jdk1.8.0.jdk/Contents/Home/bin/java -Dmaven.multiModuleProjectDirectory=/Users/ccmetz/IdeaProjects/JTerm "-Dmaven.home=/Applications/IntelliJ IDEA CE.app/Contents/plugins/maven/lib/maven3" "-Dclassworlds.conf=/Applications/IntelliJ IDEA CE.app/Contents/plugins/maven/lib/maven3/bin/m2.conf" "-javaagent:/Applications/IntelliJ IDEA CE.app/Con

[2017-09-29 23:13] ccmetz commented on #35
@Sergix After pulling down the latest changes from the dev branch, I'm no longer getting this issue when running the maven build. It creates the `jterm-0.5.2-jar-with-dependencies` jar file inside of the `target` directory.

[2017-09-29 23:33] Sergix commented on #35
Ok, good. :P

[2017-09-29 23:33] #35 closed

[2017-09-29 23:53] ccmetz opened #36 "Handle Mac OS operating system"
When running JTerm on my mac I noticed that it was not handling any of my input commands. After looking at the code, it looks like it determines how to handle input based on whether the user's operating system is equal to "linux" or "windows".

I think mac os handles input very similar to Unix. I'm actually not sure if there is much of a difference. If so, then a simple way to handle this could be

[2017-09-30 00:18] Sergix commented on #36
Well, macOS _is_ UNIX, so I'm sure they handle it quite similarly. :P

But you're right, it should check for "unix" rather than "linux". If that doesn't work, it would probably be changed to "darwin".

@nanoandrew4 , is there any issues with changing this?

[2017-09-30 00:33] ccmetz commented on #36
Ahhh right haha :p

It seems that `System.getProperty("os.name")` returns the string `mac os x` on my machine. I've seen it come up as `darwin` before when using python though. Also, if I could make a suggestion: Since we are using the apache commons-lang3 library, one way we could do this is by making use of the `SystemUtils` class. It has built methods that return a boolean when checking for ope

[2017-09-30 00:33] nanoandrew4 commented on #36
Run the following in the program.
System.out.println(System.getProperty("os.name").toLowerCase());
Paste it in somewhere and tell me what the output is. Although it is correct that Mac OS is unix, for some reason linux systems get detected as "linux", so we might have to make slight change to that line to include Mac OS too.

[2017-09-30 00:37] nanoandrew4 commented on #36
@ccmetz Sure, make that change and make sure to include both Mac and Linux with the same Boolean (preferably keep the same Boolean name.) Make the changes and push them to your GitHub fork, so we can test them!
Alternatively I can make the changes in a moment if you'd rather.
@Sergix changing it to "unix" would not fix it since System.getProperty() returns linux for Linux systems, not unix unfortu

[2017-09-30 00:41] ccmetz commented on #36
@nanoandrew4 No problem, I can make the change. A small change like this will be a good test for me anyway to make sure I've got the workflow down.

[2017-09-30 00:45] nanoandrew4 commented on #36
@ccmetz Perfect. When it's up, just paste the commit here so we can get the code and test it works on all systems.

By the way, if this is your first time contributing (as it is mine too :P) check out [https://help.github.com/articles/fork-a-repo/](url) if you want help setting up the fork and remotes and so on. Took a bit of time to understand because I had never worked on open source like this,

[2017-09-30 00:45] Sergix commented on #36
@nanoandrew4 I believe the reason "linux" has its own value is because it is its [own kernel](https://www.kernel.org/), even though it is UNIX-based.

[2017-09-30 00:49] nanoandrew4 commented on #32
I'll get to work on this one over the weekend, should not be too hard. What are we looking at running, aside from .jar files and executables?

What I intend to do is just pass everything after the "exec" to the OS for it to handle, so if you just enter JTerm.exe it will pass it do the OS and let it handle it (provided that's how Windows works, it's been a while :S.) That should cover .sh, .bat and

[2017-09-30 00:51] nanoandrew4 commented on #36
@Sergix Well that's mildly annoying... Makes sense though. Let's hope the fix proposed by @ccmetz works, otherwise it will be a minor modification to the code followed by a bit of testing on his end, to check everything is working properly.

[2017-09-30 00:51] ccmetz commented on #36
@nanoandrew4 Thanks, I was reading up on setting up my fork and how to keep it up to date with the original repo. I think I've got it set up right. I made a local clone of my fork and then added a remote for upstream changes and that's how I was able to pull in your tab completion stuff from the dev branch. Now I think when I push, I will be pushing my dev branch to my fork so you guys can see it.

[2017-09-30 00:52] Sergix commented on #32
I can't think of any other cases, so we should probably just go with this for now. But eventually, I would like to build a system that can execute batch files on UNIX, shell scripts on Windows, and vice-versa. But I think that's pretty far down the road. :P

[2017-09-30 00:54] ccmetz commented on #36
Alright, I just pushed the changes to the dev branch on my fork.
Commit: 4ec17da8a152092542e4e66124b26ba8dc700a07

[2017-09-30 00:54] Sergix commented on #36
Looks good!

[2017-09-30 00:55] nanoandrew4 commented on #32
Yeah I'm not sure that's entirely possible without using WINE for Linux or CygWin for Windows... I'll look into it, but I did a quick search and it does not look promising.

[2017-09-30 00:55] Sergix commented on #36
Also, we should probably look into the possibility of this not working on BSD systems... it is UNIX, but I'm not sure whether it has its own value.

[2017-09-30 00:57] Sergix commented on #32
Well, my idea is trying to implement some basic stuff from the ground-up. That way, it becomes entirely non-OS-dependent from a fundamental level. (#7)

[2017-09-30 01:00] nanoandrew4 commented on #36
Working on my end.

It does seem BSD has a different value: https://commons.apache.org/proper/commons-lang/apidocs/org/apache/commons/lang3/SystemUtils.html

Though without testing, it's hard to know...

[2017-09-30 01:03] nanoandrew4 opened #37 "Program prints autocomplete text if full name is entered every time tab is pressed"
Kinda confusing, but if you type "exec jte" and let it autocomplete to "exec jterm.jar" and keep hitting tab, it will keep printing the text it autocompleted, in this example "rm.jar". Easy fix, just went unnoticed in previous testing.

For bug fixes, just push and pull request or are they handled differently than feature implementations?

[2017-09-30 01:03] Sergix commented on #36
I'm sure it is. I actually have FreeBSD installed on a testing system I own, so I should have an opportunity to test that soon. As for all the other possible values we should probably just do something similar to the following:

`public static String isUnix = os.contains("unix") || os.contains("bsd") || os.contains("linux");`

[2017-09-30 01:05] Sergix commented on #37
Hm, ok. What do you mean by "push and pull request"?

[2017-09-30 01:07] nanoandrew4 commented on #37
Sorry, I meant push the code to my dev branch and then submit a pull request.

[2017-09-30 01:07] Sergix commented on #37
Oh, then yes. :P

[2017-09-30 01:08] ccmetz commented on #36
Oh whoops I just noticed I forgot to remove that `os` variable since it wasn't needed anymore. But anyway, are you saying you want to go back to matching the string instead of using `SystemUtils`?

[2017-09-30 01:10] nanoandrew4 commented on #37
Just out of curiosity, did you program in C or C++ in a past life? It's just that the formatting style resembles C than Java :P.
Also, why not use documentation style comments (idk what they are called, but the /** instead of /*) since you can use them to get info on the function or class by pressing Ctrl+Q in IntelliJ at least, as well as for auto generating documentation for the program?

[2017-09-30 01:11] Sergix commented on #36
Oh, no its fine if you use SystemUtils (it's probably better actually), I just put that because that was what was currently in the code. Using SystemUtils, it would look like this:

`public static String isUnix = SystemUtils.IS_OS_UNIX || SystemUtils.IS_OS_FREEBSD || SystemUtils.IS_OS_LINUX;`

[2017-09-30 01:13] ccmetz commented on #37
@nanoandrew4 I think you're thinking of javadocs :)

[2017-09-30 01:14] Sergix commented on #37
Both actually. :P (https://github.com/Sergix/Wrapper) (https://github.com/Sergix/root)

Also, I have absolutely NO idea how JavaDocs work, and I didn't know that they actually did something.  You can add them back if you want, and I can merge them into the repo. :P

[2017-09-30 01:17] nanoandrew4 commented on #37
Ahhhh makes much more sense now.
Just add another star beside the begginning of each comment block, should turn green or something, though there should be some minor mods for the variables and such, I'll do it sometime. Yeah, you can use those when writing code to check what the function does in a little window that displays all the info in the comment block, super helpful when you need a quick re

[2017-09-30 01:19] Sergix commented on #37
Well, it _would_ be useful for me, but I use VSCode. :P

But of course, it's obviously useful for you, so I have absolutely no problem with it being in the code. I just wasn't aware of it. 😅

[2017-09-30 01:20] ccmetz commented on #36
Ok I see what you're saying now! Do you want to me to go ahead and make that change now or should I wait until you have an opportunity to test BSD on your testing system?

[2017-09-30 01:21] Sergix commented on #36
Go ahead and make the change since BSD is POSIX-compliant. :)

[2017-09-30 01:35] ccmetz commented on #36
Alright I'll have that pushed in just a sec. Is it expected behavior to have the command that you just typed print out again on the next line and then the program executes it? When I was testing my last commit I don't remember it doing that but maybe I just wasn't paying close enough attention 😕 .

[2017-09-30 01:39] nanoandrew4 commented on #36
Are you pressing tab? Can you be a bit more specific about what is going on? Might be another bug...

[2017-09-30 01:41] ccmetz commented on #36
I think it's coming from the print statement around line 89 inside the `ProcessUnix` method in the `InputHandler` class. It looks like it just prints out the input that the user types in?

[2017-09-30 01:42] Sergix commented on #36
Also, you're still testing this on a Mac, right? Just to clarify.

[2017-09-30 01:43] ccmetz commented on #36
Yep this is on mac

[2017-09-30 01:43] nanoandrew4 commented on #36
@ccmetz It prints the key you pressed. Because it processes raw input we have to print the character to the screen ourselves, and that is what it does, with the exception of tabs and other special characters.

[2017-09-30 01:44] Sergix commented on #36
@ccmetz Ok, because that's the one platform neither me or @nanoandrew4 (I don't think) have tested JTerm on yet. :P

[2017-09-30 01:45] nanoandrew4 commented on #36
Yeah no I only do testing on Linux and check online for Windows solutions, I simply assume Mac will be nice and work :S.

[2017-09-30 01:45] #37 closed

[2017-09-30 01:46] Sergix commented on #36
It's never that simple with systems programming. 😜

[2017-09-30 01:46] Sergix commented on #36
Oops... I accidentally hit "Close and Comment". Why is that even a thing?

[2017-09-30 01:47] ccmetz commented on #36
Haha that's usually a safe assumption since Mac and Linux are so close! I'm a little confused about the need to print the character to the screen. Why not save the characters to an array or list and then determine the command from that?

Also sorry about getting too off-topic!

[2017-09-30 01:48] Sergix commented on #36
Because then the user doesn't know what they're typing. :P

[2017-09-30 01:48] nanoandrew4 commented on #36
User needs to see what he is typing :laughing:

[2017-09-30 01:49] ccmetz commented on #36
Oh well that's why I'm confused! When I run it on my mac, I'm seeing what I type and then I when I hit enter it prints it out again and then does the command haha!

[2017-09-30 01:49] Sergix commented on #36
@ccmetz In our program, we don't read line-by-line, as most do; @nanoandrew4 was kind enough to work on Tab completion, which required the use of raw input, or reading char-by-char. So it just prints out each individual character the user types.

[2017-09-30 01:50] nanoandrew4 commented on #36
@ccmetz so it is double printing the same command?

[2017-09-30 01:50] Sergix commented on #36
@ccmetz So is it functioning correctly? If not can you attach what you see?

[2017-09-30 01:52] ccmetz commented on #36
It's not necessarily double printing. I've been running the program from a terminal so I can see when I type in a command like "echo hello" for example. Then when I hit enter, it prints out "echo hello" again and then executes the command and just prints "hello".

[2017-09-30 01:53] Sergix commented on #36
Oh, that's odd. So you can't see when you type? Or is only in the integrated terminal in IntelliJ (which I'm assuming it has)?

[2017-09-30 01:54] nanoandrew4 commented on #36
So you output looks as follows:

echo hello
echo hello
hello

Correct?
As @Sergix said, it might run differently depending on the environment. Since it is intended to run in the console, I recommend you compile it with maven on each run and run it from the terminal, not through InteliJ.

[2017-09-30 01:55] ccmetz commented on #36
@nanoandrew4 Yep that's correct. I think I can see when I type because I'm running it from IntelliJ's terminal. I haven't used the `window` command to bring up a GUI.

[2017-09-30 01:57] nanoandrew4 commented on #36
@ccmetz If you are running through IntelliJ that output is correct, you should run it in the system terminal instead.

[2017-09-30 01:58] Sergix commented on #36
Huh, that's kind of weird. Why does it look like that in IntelliJ?

[2017-09-30 01:59] ccmetz commented on #36
@Sergix It might be just the IntelliJ terminal showing me what I've typed and then when I hit enter, JTerm prints it out again

[2017-09-30 02:00] nanoandrew4 commented on #36
Because IntelliJ probably uses its own terminal environment, and I don't want to be implementing raw code input for all different environments (I also do not know how to do it.) So it reads line by line, then submits the whole line character by character which double prints it, and then prints the output. This is how it should run in IntelliJ. All is good folks!

[2017-09-30 02:01] Sergix commented on #36
@ccmetz @nanoandrew4 Oh, ok, gotcha. Well now that that's been sorted out, I suppose you can go ahead and start implementing the small changes to make it work for Mac, @ccmetz . 😀

[2017-09-30 02:03] Sergix commented on #36
Well, I have to work on some school-related stuff (I'm still in high school after all :P), so I won't be able to reply for a little while. Good luck @ccmetz !

[2017-09-30 02:04] ccmetz commented on #36
@Sergix Alright sounds good! I'll have the change pushed in a sec here.

[2017-09-30 02:04] nanoandrew4 commented on #36
I'll be around to help if I can, but you'll have to wait for him to merge.

[2017-09-30 02:11] ccmetz commented on #36
Alright I've got the changes pushed to my fork. I think while I was working on this, there were a couple of commits made on Sergix:dev. Can I still make a pull request or do I need to match those up some how? It says I'm 2 commits ahead but also 2 commits behind the original dev branch right now.

[2017-09-30 02:14] nanoandrew4 commented on #36
Go to your dev branch and it should give the option to compare and new pull request or something like that. Click it and if it says the branches can be merged, just submit it and all should be good! Otherwise just pull the latest changes, add your stuff and push again, but try to do what I first indicated, should work fine.

[2017-09-30 02:18] Sergix commented on #36
Ok hi, I'm back. :P Also, I think you forgot to add checking for Mac in there @ccmetz .

[2017-09-30 02:19] ccmetz commented on #36
@Sergix Mac is covered by `SystemUtils.IS_OS_UNIX`

[2017-09-30 02:20] Sergix commented on #36
Oh, it is? Ok, I thought I saw a seperate value. So it's ready to merge?

[2017-09-30 02:20] ccmetz commented on #36
Actually crap - Linux should be covered by that too. The `SystemUtils.IS_OS_LINUX` is probably redundant.

[2017-09-30 02:21] Sergix commented on #36
It's fine. It will probably help ensure that nothing else bad happens. :P

[2017-09-30 02:21] ccmetz commented on #36
Yeah there's a separate value for it but the check for UNIX covers a lot of the more specific OS's.

[2017-09-30 02:21] Sergix commented on #36
Ok cool.

[2017-09-30 02:21] ccmetz commented on #36
@Sergix In that case then I think it's ready to merge :)

[2017-09-30 02:22] nanoandrew4 opened #40 "Improve help output"
Help is a users last resort when he is getting irreversibly lost in the program, and the world seems to be falling apart in front of them. The help output has to display something that can prevent that :rofl:.

[2017-09-30 02:23] #36 closed

[2017-09-30 02:24] Sergix commented on #40
That was one of the things I _forgot_ to do early on in development, I just slapped the version number there so I could work on more important aspects of the program at the time. 😅

If anyone wants to go ahead and add more helpful output, be my guest. 😀

[2017-09-30 02:31] nanoandrew4 commented on #22
Should probably add a couple more issues with additions that you want to make so people can just choose stuff and go for it, if they find the topic interesting or have ideas as to how to approach it. If you can think of anything, add it, since all I am currently doing is running help in my linux terminal and looking at what seems reasonable and essential at this point.

Also, what is the plan to g

[2017-09-30 02:32] Sergix commented on #22
Sounds great! 😁
(Also nice profile pic 😛 )

[2017-09-30 02:37] nanoandrew4 opened #41 "SSH"
SSH would be a nice feature to implement, since consoles are also used to access other systems, and this is commonly done through SSH.

[2017-09-30 02:38] nanoandrew4 opened #42 "FTP"
FTP is widely used and implementing it here would be a nice addition.

[2017-09-30 02:40] ccmetz commented on #33
Okay so now that we've got JTerm working on Macs, I can begin working on this issue! I probably won't do much with it for the rest of the night but I'd expect to finish it at some point this weekend.

[2017-09-30 02:44] nanoandrew4 commented on #33
Good luck! If you get stuck Google is your friend, and if you need anything regarding input I'll also be working on binaries this weekend so just ask, happy to answer!

Also, because this is cross platform and you are unable to test on all four platforms, expect it to take longer than you think :P learnt that the hard way... Just remember Windows handles consoles differently from Unix, and that ea

[2017-09-30 02:48] nanoandrew4 commented on #32
What is the purpose of the GetRest function? I get it wants to display a message, but why can it not just be printed?

[2017-09-30 02:50] Sergix commented on #32
Oh, that was for getting the rest of the options passed to Exec when reading a batch file, I believe. It was used for ArrayList<>s.

[2017-09-30 02:50] NCSGeek commented on #42
I agree that it would be honestly, but I forsee that It'll be a low priority addition, especially with other things that are being worked on right now. But again, I do agree that FTP support is a great idea.

[2017-09-30 02:51] NCSGeek commented on #41
Same as my comment regarding FTP, I agree! :)

[2017-09-30 02:51] Sergix commented on #33
Yeah no kidding. 🤣  It's really dumb that Windows doesn't support ASCII like UNIX does. :/

[2017-09-30 02:52] Sergix commented on #42
I agree with @NCSGeek , but I'll put it up as `help wanted` in case someone wants to help out. I'll do the same for SSH (#41).

[2017-09-30 02:52] ccmetz commented on #33
Oh right - forgot about Windows! We'll see how that goes. Might be a little hard to test as I don't have easy access to a Windows computer right now.

[2017-09-30 02:54] nanoandrew4 commented on #42
The issues open right now are not that big in scope, so maybe we'll get to it! Tbh I have not even done a quick search on how to implement this, and testing will be a pain, but unless other additions pop up, I might jump on it :P

[2017-09-30 02:54] Sergix commented on #33
@ccmetz I'll test the code for you. I can clone your fork on my machine, so just tell me when you need something tested! 😁

[2017-09-30 02:55] nanoandrew4 commented on #33
Just always double check with the internet when it comes to writing the code for Windows. It will save you lots of time.

[2017-09-30 02:55] ccmetz commented on #33
@Sergix Awesome, I'll let you know

[2017-09-30 02:56] nanoandrew4 commented on #32
But other functions such as Pause use it, what can I replace it with?

[2017-09-30 02:56] Sergix commented on #42
https://maven.apache.org/wagon/wagon-providers/wagon-ftp/

Of course, Maven has a plugin for everything. 😄

[2017-09-30 02:58] ccmetz commented on #22
It would be cool to kind of map out the necessary items that should be finished before getting to 1.0.

We could even create a 1.0 milestone and tag issues with it.

[2017-09-30 02:59] Sergix commented on #22
@ccmetz Hm, good question. I'll attempt to write up a roadmap docfile tomorrow, and I'll probably put it in a Wiki page. And I suppose we could also use a milestone to track.

[2017-09-30 03:01] Sergix commented on #32
Oh. I didn't realize Pause used it. Also a couple other classes use it. Could we just move it somewhere else, like the `Input` class? Unless there is a much more efficient way of handling it, which I can't think of right now.

[2017-09-30 03:01] Sergix commented on #41
https://maven.apache.org/wagon/wagon-providers/wagon-ssh/

[2017-09-30 03:03] nanoandrew4 commented on #32
What does it do? Does it split the string into elements to get each of the options, or what does it do?

[2017-09-30 03:05] Sergix commented on #32
It gets an ArrayList and puts it into a string, starting from a specified index.

[2017-09-30 03:07] nanoandrew4 commented on #32
Okay, thanks, I'll take a look at it tomorrow when I get working on it.

[2017-09-30 03:08] Sergix commented on #32
Well on that note, I'm gonna go for the night. I'll get back tomorrow to any changes or comments. Thanks again for all your help @nanoandrew4 and @ccmetz !

[2017-09-30 20:30] Sergix commented on #22
@ccmetz The ROADMAP.md file is up in the dev branch! Also, the "v1.0.0 Roadmap" is now used for tracking Issues. https://github.com/Sergix/JTerm/blob/dev/ROADMAP.md

[2017-10-01 15:25] ccmetz commented on #22
@Sergix Looks good!

[2017-10-01 18:09] ccmetz commented on #33
While researching ways to efficiently clear the console, I came across this question on stackoverflow: https://stackoverflow.com/questions/19323494/ways-to-clear-the-console

For terminals supporting ANSI escape sequences, it's possible to clear the screen using:
`System.out.print("\033[H\033[2J");`
`System.out.flush();`

^ I've tested this and it works on both of the terminals that I've been usin

[2017-10-01 20:49] Sergix commented on #33
Escape sequences don't work on Windows. We encountered this issue when working on tab completion. Soooo... yeah. I would try and go for option number two though. :P

[2017-10-01 21:00] nanoandrew4 commented on #33
@ccmetz Have you tried passing commands to the OS such as "cls" or "clear"? That could maybe work, and it would be quite easy to implement.

[2017-10-01 21:03] Sergix commented on #33
You can't simply call "cls" from the Runtime, because it's not an actual system program, it's a cmd command. There's no "cls.exe".

Sergix
Peyton McGinnis

On Oct 1, 2017, at 5:00 PM, "Andres" <notifications@github.com<mailto:notifications@github.com>> wrote:

@ccmetz<https://github.com/ccmetz> Have you tried passing commands to the OS such as "cls" or "clear"? That could maybe work, and it would

[2017-10-01 21:06] nanoandrew4 commented on #33
Well then... In that case, maybe pass ANSI escape sequences for Unix, and look for another alternative for Windows if you can find one? Otherwise as @Sergix says, option two is probably best path forward if we want to apply the same system to all OS's.

[2017-10-01 21:45] ccmetz commented on #33
If we did go the route of calling commands from the OS, it looks like it might be possible to invoke the command line interpreter on windows and tell it to execute a command: https://stackoverflow.com/questions/2979383/java-clear-the-console

I'm not for sure if this works or not though because I can't test it.

[2017-10-01 23:21] Sergix commented on #33
I'll check it out later.

But also, **_HEADS UP:_** before you pull changes from the dev branch on the head repo, _back up your current changes on your local machine_. The next commit moves a bunch if classes around into new folders, so **please** take caution.

[2017-10-02 23:58] Sergix commented on #33
Also, it appears that
`new ProcessBuilder("cmd", "/c", "cls").inheritIO().start().waitFor();`
could work. Let me know when you have an update on it so I can test it out!

By the way, the commit I was talking about in the last comment has been pushed, so you can now pull the changes if you've backed up your code. View [changelog](https://github.com/Sergix/JTerm/blob/dev/changelog.txt) entry #90 for

[2017-10-03 01:12] ccmetz commented on #33
@Sergix Alright the code has been pushed to my fork on the `dev` branch. Let me know how it works on Windows.

[2017-10-03 01:55] Sergix commented on #33
@ccmetz Just tested it, and it was successful! Works as expected. 😄

Unless you have any final changes, go ahead and open a PR to merge into the head repo.

[2017-10-03 02:06] #33 closed

[2017-10-03 02:11] Sergix opened #45 "Internet File Downloader"
Download a file from a specified URL and save it in the working directory.

Probably doesn't need much more explaining than that.

[2017-10-03 02:13] NCSGeek commented on #45
How would it handle non-direct URLs? (e.g. www.example.com/whatever/coolflash.swf as a direct url)

But this is a good idea

[2017-10-03 02:15] Sergix commented on #45
Do you mean if the page would redirect you for "non-direct"?

[2017-10-03 02:16] NCSGeek commented on #22
Might be neat to add a Java GUI text/file editor. Might be a little ambitious, but I thought it'd be a cool idea.

[2017-10-03 02:18] NCSGeek commented on #45
I might of been uncleer, I meant a URL like www.example.com/randompage, how would it know what file to download? Or would it just download the HTML?

[2017-10-03 02:21] Sergix commented on #45
Hm. Well, I suppose we could just check if it has a file extension, and if it doesn't then it just prints an error message.

Also, we should consider if there would be any changes if the user provided an FTP request.

[2017-10-03 02:23] Sergix commented on #22
I suppose it's plausible, although it would be really neat to have a terminal text editor similar to Vim or nano.

And a Text Editor GUI would probably be relatively easy. :P

[2017-10-03 02:28] NCSGeek commented on #45
Alright, just wondering. I know that the question is hard to answer since there are literally no plans yet.

[2017-10-03 02:28] NCSGeek commented on #22
I do prefer a terminal editor yeah. I just thought that'd be a little harder

[2017-10-03 02:36] Sergix commented on #22
Yeah it's a lot harder :P

If you or @nanoandrew4 or @ccmetz want to give it a shot, or we probably could just all work together on it, then let me know!

[2017-10-03 02:39] NCSGeek commented on #22
I have literally _never_ tried GUIs in java before, but I'll do some research

[2017-10-03 02:44] nanoandrew4 commented on #22
@NCSGeek If you can avoid GUI's, avoid them. #1 source of bugs I find, plus they're a pain. Also, this is a terminal, so I think a terminal editor would be more appropriate. As to how to approach it, probably either open a "new" terminal window in which to type in all the stuff, and then save it to a text file, or save all input, clear screen and use that window for editor, and reprint all the com

[2017-10-03 02:49] NCSGeek commented on #22
Thinking over your comment, It's true that we should probably stick to terminal style since that's what we already have, now It seems obvious. So yeah, I agree now that I've thought it through

[2017-10-03 02:53] Sergix commented on #22
Yeah, Java GUIs are extremely annoying layout-wise as well.

As for the opening a new window, that's actually a task on the Roadmap, so it's possible we could proverbially kill two birds with one stone with this one.

If someone wants to open up a seperste issue(s) then that would be great. :)

[2017-10-03 02:55] nanoandrew4 commented on #22
I will work on binaries execution tomorrow and then open that, if no one has taken care of it. Would be kinda interesting to tackle to be honest. I'll start messing with it some time soon, it's not going to be easy.

[2017-10-03 03:07] Sergix commented on #22
Yeah it still needs to be worked on.

As for myself, this week/weekend I plan to work on file and directory commands.

@NCSGeek and @ccmetz , if you would like something to work on, there's plenty to do! :P

[2017-10-03 14:44] nanoandrew4 commented on #32
Would it be a big issue if we use 1.8 instead of 1.7? For checking if the Runtime.getRuntime().exec() process is still alive, it requires a function that is only available from 1.8 onwards.

[2017-10-03 17:39] Sergix commented on #32
Sure, the only reason I changed to 1.7 was because I couldn't get the 1.8 JDK to install on my WSL at the time, but I'm pretty sure I got it working now.

[2017-10-04 16:28] nanoandrew4 commented on #32
821c8c92e8094b3100fb89eb154c1372fe0cb450
Needs testing in windows, particularly with .exe files. Currently runs .jar files and executable files. Also, improved file autocomplete since now it will look into subdirectories and works like tab in a command prompt. Basically you can autocomplete files inside of folders or folders inside of folders, so basically improved functionality.

Also, when a pro

[2017-10-04 16:30] nanoandrew4 commented on #45
There's probably a library out there for this, or something related. Otherwise if we wanted to implement it ourselves, I am not sure since I have very limited experience with networking.

[2017-10-04 16:31] nanoandrew4 commented on #22
Just a quick question on the roadmap, we are going from v0.5 to v1.0 directly?

[2017-10-04 18:02] Sergix commented on #22
No, actually I'm about to push v0.6.

But yes, once the roadmap is complete we'll go to v1.0.

[2017-10-04 18:10] Sergix commented on #32
Does the error crash the program?

If not, just comment the output to the error. I had to do the same thing when using reflection to access command methods. If it _does_ crash the entire program, then I'll have to take a closer look at it.

[2017-10-04 18:13] nanoandrew4 commented on #32
@Sergix No, program keeps running fine. I will comment it out on my next push, which will include a couple fixes to other stuff too and better documentation. Does the code execute fine on your machine? I have tested it and it seems to be working well.

[2017-10-04 22:45] Sergix commented on #32
Ok, good. I'll still look into why its erroring.

I'll test the changes tonight.

[2017-10-05 01:13] Sergix commented on #32
Exec works for .exe files for me! Looks good, probably ready to merge.

[2017-10-05 01:32] nanoandrew4 commented on #32
Will add a couple fixes and then get a pull request going.

[2017-10-05 01:34] nanoandrew4 commented on #22
And don't you think maybe we should be aiming to include more in v1.0? Right now we have a very basic command line, I think v1.0 should be put off until we have a more functional piece of software.

Also, might want to check out semantic versioning! I just recently read about it, and it helps keep the version numbers reasonable while providing indication of what kind of changes take place from one

[2017-10-05 01:54] Sergix commented on #22
Well, if you have any ideas, then sure. :P But that's what I thought we would need to get a basic but functioning terminal.

And if you check [CONTRIBUTING.md](https://github.com/Sergix/JTerm/blob/dev/CONTRIBUTING.md), we are already using semantic versioning.

[2017-10-05 01:56] nanoandrew4 commented on #22
Should have checked before saying that, and it's even present in the main class for the project! My bad. As for ideas, I will open an issue for the text editor, and there are some other things that should be taken care of fix wise. As for ideas, just look at a normal terminal and see what kind of functionality you expect out of it, that's the best source of inspiration right now.

[2017-10-05 03:19] nanoandrew4 commented on #32
All known bugs squashed: cfd6716bf1379350bd5aa0d15f4dc60792484865
Pull request will be up shortly, but it would be worth checking especially on Windows that everything works appropriately, there should be no issues outstanding. Also note I added a prompt.

[2017-10-05 16:01] nanoandrew4 opened #47 "Use previous commands"
Lets you rotate through previously entered commands, so that they can be reused.

[2017-10-05 16:03] nanoandrew4 opened #48 "Moving between lines"
Right now, when the cursor reaches the end of the window and moves to a new line, even though it is all being interpreted on the same line, it will not let you backspace on to the previous line.

[2017-10-05 16:06] nanoandrew4 commented on #47
Currently the command line does not interpret arrow keys at all. I just pushed some experimental code that works in Linux, but might not in Windows, if anyone can give it a spin and check that it outputs "up", "left", "right" and "down" for the respective keys, that would be greatly appreciated.

Commit with experimental code: 6c3cba17161cc4de5d30846f601c5c1b5755bbee

[2017-10-05 21:17] Sergix commented on #47
Ah, I didn't even consider command scrolling. Good thinking!

But as of now, my input isn't reading _any_ characters at the input prompt at all...

[2017-10-05 21:17] nanoandrew4 commented on #47
It's not supposed to, it's test code. See if the arrow keys on your
keyboard work, all other input is blocked.

On Oct 5, 2017 18:17, "Sergix" <notifications@github.com> wrote:

[2017-10-05 21:19] Sergix commented on #47
Ohohoh. My bad. :rofl:

[2017-10-05 21:20] Sergix commented on #47
But no, I don't believe it works on my machine. When I press the arrow keys nothing happens. The expected output is to print the arrow key being pressed, correct?

[2017-10-05 21:23] #32 closed

[2017-10-05 21:37] Sergix commented on #48
Hm, interesting. I'm not sure how we would go about fixing this though... is there a way to delete the previous newline and move the cursor up a line?

[2017-10-05 22:53] nanoandrew4 commented on #48
I don't think so, no newline character exists because it is the terminal that is wrapping the text, not our program. Which means we have to get creative as to how to solve this...

[2017-10-05 22:57] nanoandrew4 commented on #47
Yes that should be the output. I will check to see what Windows is interpreting it as...

Edit: Pull request is still open... Is there an issue you have run into with the code?

[2017-10-05 23:08] Sergix commented on #47
The PR is still open because your current commits with the arrow key testing are being included in that PR.

[2017-10-05 23:09] Sergix commented on #48
Hm, ok. I'll look into it.

[2017-10-06 02:16] NCSGeek opened #49 "Date Command"
Displays the date

[2017-10-06 03:03] Sergix commented on #49
Looks good! Could you create the `Time` class as well?

[2017-10-06 17:37] NCSGeek commented on #49
Yeah, What inside? Or just a copy of Date.class so that Time acts as an alias for the command?

[2017-10-06 23:40] Sergix commented on #49
No, different in that in prints the system time. Or does Date do that already?

[2017-10-07 01:24] NCSGeek commented on #49
Date prints the full date including time. It's in the military format, if that is an issue I will have to look into the javadoc I used and see if I can reformat the time.

[2017-10-07 01:25] NCSGeek commented on #49
Also I'll add: I apologise for the mess with the commit. Something went awry in my Git terminal and It caused some odd side effects.

[2017-10-07 02:51] nanoandrew4 commented on #47
Do you want me to remove that push so it can be merged or just take down the request and make a new one when this is implemented?

[2017-10-07 03:05] Sergix commented on #47
No, I'll just wait for the issue to be completed.

[2017-10-07 03:33] nanoandrew4 opened #51 "Command autocomplete"
Remains to be implemented, is that going to go through reflection or what do you think is the best approach for this?

[2017-10-07 04:18] nanoandrew4 commented on #47
@Sergix I checked the pull request and it does not include the experimental code, all three commits that form part of the pull request are all working code that has been tested. I re-opened it for it to be merged, if everything is still fine as it was when issue #32 was closed.

[2017-10-08 03:32] nanoandrew4 opened #52 ""lp" causes program freeze and system reports printing failure"
First, I apologize for the fail at creating the issue properly.

I was just typing gibberish into the terminal for testing of my code that let you iterate through previous commands, and suddenly when I typed "lp" the program stopped. No more input could be received by the program, and all that could be done was closing the terminal window. After a minute or so, my OS, Linux Mint 17.3 started repor

[2017-10-08 22:38] Sergix commented on #51
It will eventually be implemented. As of right now, real life is very busy for me. I apologize for not consistently being able to work on this project at the moment, but this is the first thing in my list to do once everyting slows down.

[2017-10-08 22:40] Sergix commented on #52
Uh... What the heck? This is probably the weirdest thing I've ever heard. :rofl: I'll test it on my machine ASAP.

[2017-10-08 23:49] nanoandrew4 commented on #52
I know 🤣 I was so weirded out... Problem is recurring too, it wasn't just a one off.

[2017-10-08 23:57] Sergix commented on #52
So is that an `L` or an `I`? I can't tell with the font my phone uses.

[2017-10-08 23:58] nanoandrew4 commented on #52
It is a lowercase L

[2017-10-09 00:00] Sergix commented on #52
Ok.

@NCSGeek , could you pull the changes from his repo and see if it does the sane thing on your machine?

[2017-10-09 00:01] Sergix commented on #52
*same

[2017-10-09 00:01] nanoandrew4 commented on #52
Does it not on your system?

[2017-10-09 00:02] Sergix commented on #52
Well I'm not at a point where I can access my PC, so I don't know. But both me and @NCSGeek run Windows 10.

[2017-10-09 02:03] nanoandrew4 commented on #52
Right, I forgot my bad... I tested on Windows 10 and the error does not replicate, it is only an issue with Linux as far as I can tell.

EDIT: I did a quick Google search, and came up with this: https://www.computerhope.com/unix/ulp.htm
Apparently it is a Linux command that is somehow getting run at the previously mentioned line.

[2017-10-09 13:08] Sergix commented on #52
But how is it being run if we haven't even called anything _to_ run it? Perhaps it's something with Runtime and exec?

[2017-10-09 18:50] Sergix commented on #52
Tested it out in WSL, doesn't seem to occur. 🤔

[2017-10-09 18:51] nanoandrew4 commented on #52
WSL?

[2017-10-09 18:57] Sergix commented on #52
Windows Subsystem for Linux. :P

[2017-10-09 19:00] nanoandrew4 commented on #52
I think it only affects Linux installs. On my Linux Mint install the issue still happens :S

[2017-10-09 19:01] Sergix commented on #52
Ok. Well, I have no idea why the class invoker is calling a system command though. ;-;

[2017-10-09 19:03] nanoandrew4 commented on #52
Nothing to do with reflection failing in some way?

[2017-10-09 19:45] Sergix commented on #52
If reflection does fail, it just goes to the `catch` statements. But even if it did crash because of reflection, it shouldn't be calling a system process.

[2017-10-09 19:45] Sergix commented on #52
Ugh. Why is the close button right next to the "Comment" button?? 🤔

[2017-10-09 20:59] Sergix commented on #47
In the current PR, it still shows that `InputHandler.java` has the test code: https://github.com/Sergix/JTerm/pull/46/files#diff-43ec57f4d6646bf342fb6beef3f03da9

[2017-10-10 01:52] #49 closed

[2017-10-10 13:58] nanoandrew4 commented on #52
In my testing, the code stops after executing  "Class<?> clazz = Class.forName(command);". After that, nothing happens, not even printing to the terminal. It gets there and never returns from the call. It does seem odd however that a system command is getting called like that... Reflection should direct it to a class, not execute the command...

[2017-10-10 18:03] Sergix commented on #52
Hm. I'll test it out on my BSD system later and see if it occurs.

[2017-10-10 18:09] Sergix commented on #52
Wait, why is the Parse method being called if we haven't even finished typing? or is it after you've hit the Enter key?

[2017-10-11 00:01] nanoandrew4 commented on #52
Only after enter has been detected by the program.

[2017-10-11 00:11] Sergix commented on #52
So all you do is type `l` and `p` without hitting Enter and it crashes?

[2017-10-11 02:02] nanoandrew4 commented on #52
No, I type "lp", hit enter and then the program stops at the previously mentioned line.

[2017-10-11 02:46] Sergix commented on #52
Oh ok. I was thinking that it was occurring without even hitting enter. Is there some sort of Java class with the name `lp`?

[2017-10-11 03:06] nanoandrew4 commented on #52
No, it is a system command, not a Java class. I checked but it is not a class.

[2017-10-15 15:31] AbhayGoyal commented on #40
I think i can help. But please can you tell how do i move forward as i am trying to contribute for the first time.

[2017-10-15 15:49] Sergix commented on #40
Hello @AbhayGoyal !

To begin, fork this repository. Then, clone the dev branch of your fork onto your local machine. Then you can begin working on the changes. I would recommend using the GitHub desktop app for cloning the repository and pushing/pulling/commits.

If you have any questions, feel free to ask!

[2017-10-15 17:02] AbhayGoyal commented on #40
Hey. Was just looking into the help.java file. Could you please tell me some commands that i can put in ther so the user knows. It will be a bit easier

[2017-10-15 19:19] Sergix commented on #40
Most of the regular command names have already been added to help.

What we need now is more of an informational section of the help command that lets the user know how to get help on a specific command (which is `[command] -h`), what the open source license of the project is (GPL), etc. If you have any questions on specifics regarding this information, don't hesitate to ask. 😀

[2017-10-16 04:27] AbhayGoyal commented on #40
Thank you very much for you response sir. But please can you tell me what exact commands should be added. Secondly, I found that only the version of JTerm has been given in the help and nothing else. I feel that there must be some gap in the actual code and what i have cloned.

[2017-10-16 11:07] Sergix commented on #40
Please make sure you are working from the dev branch, not the master.

[2017-10-17 13:34] nanoandrew4 commented on #22
@Sergix As Hacktober fest is going on, if you throw some Hacktoberfest tags on the issues we might get some people on other issues, since if they get enough pull requests, they get a T-shirt :D so win win for all.

[2017-10-18 00:01] Sergix commented on #22
@nanoandrew4 True! Thanks for the suggestion. 😄

Also, I greatly apologize for my lack of presence and work on this project lately. Again, I have had nearly no time at all lately to work on coding with school and sports. (@NCSGeek can vouch for me on this. 😛 ) Especially with the great work you have done so far in helping on this project, I feel very bad that I haven't kept up with maintenance and

[2017-10-18 00:11] nanoandrew4 commented on #22
I get it, I'm in the middle of midterms and as you can see my efforts have been lacking too. I will hopefully be back on it in a couple of weeks, if things settle down again. In the meantime, whenever you have a moment, I fixed the PR so that only good code is in, so it is ready to merge.

Good luck and see you around!

[2017-10-19 05:21] sengopal commented on #40
@Sergix I came across this really interesting project. Would you be open to adding an Interface called JTermCommand with a method getHelpMessage(). Then Help.java can aggregate all the command help messages and also keep the messages localized to each class. Please let me know your thoughts and i can create a pull request with the changes.

[2017-10-19 11:52] nanoandrew4 commented on #40
I was thinking about implementing an interface or abstract class for commands, to keep a consistent layout and keep us honest. I think what @sengopal proposes is a good idea, and that the interface should also contain other methods that all commands have to run (such as Process() ).

[2017-10-19 12:23] nanoandrew4 commented on #45
I think I can take care of this, I was experimenting with some code and I think I have something functional (until someone with more experience can improve on it)

[2017-10-19 13:35] nanoandrew4 opened #53 "Simplify command input"
Has previously been mentioned, but I think the user should not have to type "dir ls" for example, since they are likely used to just "ls" and it is also redundant to type the first part.

 What I think is a good solution is a hashmap, where, for example, "ls" gets mapped to "dir", so that when "ls" is input, you pass it to the hashmap, which will return "dir", and make the command call that way, s

[2017-10-19 17:46] Sergix commented on #40
Sounds great to me. I'll work on it this afternoon, it should be pretty easy, plus I'll actually have time to work on it. Thanks for the suggestion @sengopal ! I'll notify you when the repo is updated with these changes.

[2017-10-19 18:01] Sergix commented on #53
I would as well like to make the command input simpler.

Do you think it would be reasonable or plausible to write a startup function that gets all commands with their associated methods so that they won't have to be hardcoded? The data would still be stored in a global hashmap, as you said. It would be a slight increase in memory resources and startup time, but at the same time it could greatly r

[2017-10-19 18:04] Sergix commented on #45
Sounds good! Just attach the commits here so I can review them. :+1:

[2017-10-19 18:08] Sergix commented on #22
Glad to see someone else is in the same boat as me. (Or does that sound detrimental? :stuck_out_tongue_winking_eye: )

Anyways, with the amount of bug reports we have at the moment, and with the possibility of the count increasing, do you think it would be a decent idea to create a "Bug" milestone?

[2017-10-19 18:32] nanoandrew4 commented on #53
You mean search all classes for their respective methods, and add them to a global hashmap? I am not sure that would work unless you only put command methods in the classes, and have another separate class that contains utility functions and misc code. The problem with "getting" all the commands is that it is hard to tell if the method "Process" or "Ping" is a command or not. Obviously we can, but

[2017-10-19 19:06] nanoandrew4 commented on #22
Since I've never hosted a public repository in which people participated I'm not sure what the purpose is, but if you think it'll help, by all means. Also might want to add outstanding issues to the 1.0.0 milestone, since we're not even at 0.6 yet xD

[2017-10-19 19:47] Sergix commented on #22
I'm planning on going ahead and merging to 0.6.0 tonight. It's been far too long since a version release. 😅

[2017-10-19 20:06] Sergix commented on #53
Well first off, all command classes are stored in the `jterm.command` package.

By "startup function", I just mean a function that is called immediately once the program starts to load the class and function names.

[2017-10-20 00:09] nanoandrew4 commented on #53
But all command classes have a Process method (for example). This means that when looking at the methods inside the command classes, only methods that are commands can exist there (so good-bye Process plus anything else that is not a command).

[2017-10-20 00:19] Sergix commented on #53
Actually, only `Dir` and `Files` currently have a `Process()` method. So it wouldn't be a big deal just to exclude the Process method from command checking.

[2017-10-20 00:22] Sergix commented on #40
Actually, @sengopal, based on your comment, I'm guessing you were planning to write the code yourself?

[2017-10-20 00:33] nanoandrew4 commented on #53
Right, but that also means that no support methods can be added to those classes, they can only have commands in them. Any other code (like for example, time conversions) has to reside elsewhere in the project.

Also, what purpose will the process classes serve if we are calling methods directly? Won't they handle the options input?

[2017-10-20 00:48] Sergix commented on #53
True.

I was just planning on putting command-only methods in their own class, and all commands that would be called would be in that class. The purpose of command classes is to contain all related methods that are commands (e.g. `Dir` contains directory commands).

The reason they don't handle options input is because I wanted to avoid hard coding and increase efficiency.

For your example, time

[2017-10-20 01:03] nanoandrew4 commented on #53
Okay, we are on the same page.

As far as I can tell (did a quick look, not at all classes), Process methods in all classes and constructors such as Dir or Files, do nothing (Process outputs sub-commands but with the new system that would not be necessary since they are all contained in one hashmap and can be output at once, if erroneous input is detected).

Please correct me if I am wrong, but it

[2017-10-20 01:08] Sergix commented on #53
Can you give a specific example of what you mean?

[2017-10-20 01:26] nanoandrew4 commented on #53
Process method in the Files and Dir classes just prints out sub-commands. This is unnecessary if when the program starts we keep a list of all available commands, as well as adding those commands that are in shared classes to the hashmap.

What I am saying is, when the program starts, search the command directory for commands. The first class it will encounter is Clear, which only contains the Cle

[2017-10-20 02:01] Sergix commented on #53
Yep, same page. 🤣 I was thinking the exact same thing.

So I guess it's time for implementation! I'll get to this soon. In the meantime, version 0.6.0 has been merged.

[2017-10-20 02:06] nanoandrew4 commented on #53
Also, just a quick questions, for the next version update do you think we can get rid of some of the IDE files and other stuff that is not related to the program? It just looks a bit messy right now.

[2017-10-20 02:07] Sergix commented on #53
Yep. I keep forgetting to remove those. Plus some of them are autogenerated by Maven and I forget to remove them on version releases. But will do!

[2017-10-20 16:02] nanoandrew4 commented on #45
Code for that is here: 48da7f587a89f471005d450c691fa9d559d06f95

Should work for all files, even non-direct URL's (downloads HTML in that case)

[2017-10-20 16:20] nanoandrew4 opened #56 "Binary execution code gone missing"
I was merging the upstream branch with my fork right now, and I noticed the Exec class has been reverted back to how it was before I implemented the code to run executables. Is there a reason why?

[2017-10-20 16:39] sengopal commented on #40
@Sergix Please go ahead with the changes. I haven't started any work on this yet, unfortunately due to other commitments.

[2017-10-21 01:18] Sergix commented on #56
Ugh. No, that was an accident on my part. 😬

I'll fix it ASAP and merge it into master. I'll make this a patch version as well, since it also apparently didn't get compiled into the release binary.....

[2017-10-21 01:19] Sergix commented on #45
Looks great! I'll test it out as soon as I can.

[2017-10-21 01:20] Sergix commented on #40
@sengopal Ok, sounds good!

[2017-10-21 01:47] #56 closed

[2017-10-22 03:05] nanoandrew4 commented on #45
Will wait to submit pull request until all others are dealt with, to prevent file chaos and so we can all sort out our repos and have the correct files.

[2017-10-22 23:03] nanoandrew4 commented on #48
The problem with this is we do not own the GUI, so we can not determine what the character limit on the terminal window is.

[2017-10-22 23:32] nanoandrew4 commented on #40
Ideally, each command has it's own help output. That way we can parse for -h or --help in the options list and easily display the command help.

[2017-10-22 23:35] nanoandrew4 commented on #22
Does the idea of integrating our own text editor still sound feasible? I am almost done with issue #47, so I can get rolling on that soon.

[2017-10-23 00:25] Sergix commented on #48
True... Any libraries that could help? I would just really not want to have to implement a GUI.

[2017-10-23 00:26] Sergix commented on #22
Definitely! It shouldn't be _too_ difficult, other than still fixing https://github.com/Sergix/JTerm/issues/48.

[2017-10-23 00:26] Sergix commented on #45
Sounds good.

[2017-10-23 00:28] nanoandrew4 commented on #48
I am with you on that one, but as far as I know there is no library for this, since it is terminal specific. I'll look into it at some point soon, unless someone else can show us the way...

[2017-10-23 00:30] nanoandrew4 commented on #22
Right... I have to fix that for a good editing experience... *sigh*

[2017-10-23 00:30] Sergix commented on #40
An interface that has property `public String helpInfo = "this will display on 'command -h'";` would make this easy. At the moment it has to loop through all the arguments until it finds `-h`, but the problem is that this is in _every_ command file. Putting this loop in a function that is automatically adopted by a command class interface will make the code a lot more readable and less repetitive.

[2017-10-23 21:24] nanoandrew4 commented on #45
@Sergix Can I submit a pull request with this? Have you had a chance to run it?

_Sent from my Mi 5 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-10-23 21:48] Sergix commented on #45
Works great! Only issue I see is that even if the download URL is invalid, it still creates the file.

Also, unrelated, does keyup for commands not work at the moment? or is it just my system?

[2017-10-23 21:50] nanoandrew4 commented on #45
What do you mean key up?

[2017-10-23 21:57] Sergix commented on #45
Up arrow to previous command.

[2017-10-23 22:02] Sergix opened #59 ".classpath necessary?"
Is the [.classpath](https://github.com/Sergix/JTerm/blob/dev/.classpath) file necessary for anything? I'm guessing it's an auto-generated Eclipse (or Maven) file.

I'm just wondering whether it's vital for anyone cloning the repo for the first time or anything.

[2017-10-23 22:12] nanoandrew4 commented on #59
Probably was meant to be gone, seems like it's just an auto-generated file.

[2017-10-23 22:13] nanoandrew4 commented on #45
That's another issue, still cleaning that up a bit. Will probably be up tomorrow latest.

[2017-10-23 22:14] Sergix commented on #59
Ok. Just making sure.

[2017-10-23 22:14] #59 closed

[2017-10-23 22:42] nanoandrew4 opened #60 "Method name convention"
I was just working on merging this dev branch with my own and ran into some issues. While investigating, I noticed that methods now start with lowercase letters (which I am happy about because convenction :D) but it goes against the Style and Formatting guide, which states that method names must start with an uppercase letter.

@Sergix What's the final decision?

[2017-10-23 23:11] nanoandrew4 commented on #45
Pull request #61 submitted. Should close this issue, enjoy all your file downloads!

[2017-10-24 00:57] Sergix commented on #60
Name conventions are to be as in [Java Code Conventions](http://www.oracle.com/technetwork/java/codeconventions-150003.pdf).

The style guide will be updated soon. As of now, use everything as presented in that document.

[2017-10-24 00:57] #60 closed

[2017-10-24 00:59] Sergix commented on #45
Merged!

[2017-10-24 00:59] #45 closed

[2017-10-24 02:37] nagharajan commented on #47
Hi,

I have modified InputHandler and JTerm for command rotation. Would someone like to take a look? This is my first attempt at open source working. So all guidance in reviewing the code and help me check-in will be appreciated. thanks.

[2017-10-24 02:39] nanoandrew4 commented on #47
@nagharajan I would gladly take a look at the code! I looked at your GitHub page and there is no fork... Where can the code be found?

[2017-10-24 03:49] nagharajan commented on #48
@nanoandrew4 I have forked the code and uploaded the changes. Can you please take a look?

[2017-10-24 17:58] Sergix commented on #40
I have began to work on these changes, just to let everyone know.

[2017-10-26 08:02] ojles opened #66 "Command parsing and execution"
The problem is that every time you execute a command, a new instance of a command is created, witch in not necessary. And using Java Reflection makes the code a bit slower + you have to name the class the same as the command.

Each class in `jterm.command` package is basically doing the same - executing some code according to `options` list. So we can define an `interface`:
[code]
And than in `JTe

[2017-10-26 08:05] ojles commented on #66
@Sergix @nanoandrew4 what do you think?

[2017-10-26 10:23] nanoandrew4 commented on #66
Looks good to me! I think interfaces play nicely with this project, so I'm glad to see you implementing them like that.

[2017-10-27 15:35] #66 closed

[2017-10-30 17:16] wuhugh opened #68 "`dir cd` with .. or . appends those characters to the working directory"
### Subject of the issue
Calling `dir cd` with the arguments ".." to go up one level or "." for the current directory appends the ".." to the working directory resulting in strings of /home/username/Documents/../Documents. Also causes strings of /.././ if you happen to be in the root directory.

### Your environment
- OS: Ubuntu 16.04 LTS
- Java version: openJDK 1.8.0_131
- JTerm version: 0.6.1
-

[2017-10-30 22:25] wuhugh commented on #68
I've made a small edit that fixed the appending .'s, but haven't tested it on Windows. The method of updating the new directory when using `cd ..` can probably be more efficient but I wanted it to be readable as well.

![jtermedit](https://user-images.githubusercontent.com/16854854/32198625-3bd329f4-bd9f-11e7-8ab6-fa421937e149.png)

[2017-10-30 22:32] nanoandrew4 commented on #68
Just tested on my system, I input 'dir cd /home/username/', which printed my normal user directory. Then I input 'dir cd ..' and it went back one folder, inside the /home/ folder. Did I miss anything? It seems to be working fine on my system (though I am working with the latest code in my repository, but I doubt it is that since I only work in IO).

[2017-10-30 22:41] wuhugh commented on #68
I was getting the extra `..` when I ran the latest [jterm-v0.6.1.jar](https://github.com/Sergix/JTerm/releases). That was before I forked the repo though.

[2017-10-31 21:59] Sergix commented on #68
Just noticed that this issue was open. For some reason GitHub didn't notify me.

If you have made changes in your fork, can you please reference those commits here so I can view them?

[2017-10-31 22:56] wuhugh commented on #68
wuhugh/JTerm@75776d8
wuhugh/JTerm@22dd8c0

I messed up the commits when I pushed it. Sorry about that.

[2017-11-01 12:34] ojles commented on #68
@wuhugh Yep, got the same issue

[code]

[2017-11-02 19:52] saringer opened #70 "Rename Files"
After taking a look at the roadmap I noticed that there are still a lot of issues open.
As I'm very interested in this project I would like to contribute by adding an implementation for renaming files.

[2017-11-03 20:29] Sergix commented on #70
Sounds good! Should be pretty simple.

Just open a PR when it's finished!

[2017-11-03 20:30] Sergix commented on #68
I'll test this out on my system. Also, I apologize for taking so long to reply, I was on a trip this past week. But now I'm back! 😜

[2017-11-05 01:31] #68 closed

[2017-11-05 01:49] Sergix commented on #51
This issue will be much easier to complete once the command hashmap is implemented, so I'll wait till that PR merges.

[2017-11-05 01:52] Sergix commented on #47
This issue is still in progress, correct?

[2017-11-05 01:54] nanoandrew4 commented on #47
Should be fixed with my latest commit but... Last I checked everything was broken, do the arrow keys even work?

I have it all working and pretty in my other project, would you like me to adapt the input handling code over?

[2017-11-05 02:06] Sergix commented on #47
If you can, sure! :)

By the way, I took a look at your other project. It looks really great! :D

[2017-11-05 02:09] nanoandrew4 commented on #47
Thanks 😇 doesn't do much yet, trying to iron out all those pesky bugs that plague the input and autocomplete. I'll close my PR and open a new one when the code is merged, probably tomorrow or Monday when I finish ironing out the autocomplete which is failing for some odd reason...

[2017-11-06 18:24] wuhugh commented on #70
I noticed on the ROADMAP.md that there are a lot of overlap between directories and files. Should we only allow functions on directories to operate on directories and likewise for files?

For example, if I tried `dir mv test` it would fail if test was a file and not a directory.

[2017-11-06 22:39] lbenedetto commented on #48
I think I could handle implementing a GUI.
I assume you mean for the GUI to replace running the program in the terminal?

[2017-11-06 22:50] nanoandrew4 commented on #48
Not to replace, to accompany it. Users should be able to choose, but ideally in windows they would use a GUI in order to circumvent this issue.

[2017-11-06 23:07] lbenedetto commented on #48
Hmm, why not though? Doing it in a GUI gives us much more control.

I think it would also remove the complexity of dealing with Unix vs Windows char codes and other weird behaviors of the windows terminal VS the unix terminal

![chrome_2017-11-06_15-06-49](https://user-images.githubusercontent.com/4466272/32468697-348a992e-c304-11e7-81ff-78784d8196e7.png)

[2017-11-06 23:11] nanoandrew4 commented on #48
This also has to work on headless systems, such as servers and such that don't have graphics... That's why we can't just move to a GUI. It is true that the GUI gives us all the control we need but we also have to support all those other systems.

[2017-11-06 23:15] lbenedetto commented on #48
Ah, that's a good point, I hadn't thought of that.

Should I still move forward on the GUI, as an option?

[2017-11-06 23:17] nanoandrew4 commented on #48
I think it's still a good idea, yes. That way we have that as a stable platform. Ultimately it's up to @Sergix, but I do think we are going to have to implement our own GUI at some point.

[2017-11-06 23:39] NCSGeek commented on #48
Or, as a random suggestion, there could be a command to load a GUI. Somewhat comparable to the DOS windows command.

[2017-11-06 23:51] nanoandrew4 commented on #48
You could just pass it as an argument too.

[2017-11-07 01:43] lbenedetto opened #72 ""dir cd .." does not work"
### Subject of the issue
This is the code currently being used to remove one directory level from the current directory
`newDirectory = JTerm.currentDirectory.substring(0, JTerm.currentDirectory.length() - 2);`
(Dir.java, approximately line 163)
It makes no sense to do it this way. It will only work if the current directory name is 2 characters long

### Your environment
- Windows 10
- Java 8
- de

[2017-11-07 01:47] nanoandrew4 commented on #72
I just finished writing a changing directory command for another project I'm working out, maybe we could adapt it? Code is:

[code]

It also works for "cd ~" style, some variables will have to be changed around and such, but I think it's structurally sound.

[2017-11-07 01:50] lbenedetto opened #73 ""dir md dirName" does not create the directory in the correct location"
### Subject of the issue
"dir md" creates a directory, but it is not the correct name or location

### Your environment
- Windows 10
- Java 8
- dev branch

### Steps to reproduce
Type "dir md dirName"

### Expected behaviour
If am in `F:\User\Desktop\Programming\JTerm` and I run the command `dir md Test` it should create a directory like so `F:\User\Desktop\Programming\JTerm\Test`

### Actual beha

[2017-11-08 02:12] Sergix commented on #72
Looks pretty good to me. So where will the home directory (`~`) be stored? I suppose I could make a new variable.

[2017-11-08 02:39] Sergix commented on #73
Ah, this is also occurring on my system. Thanks for the bug report!

I'll fix these changes after PR #67 merges.

[2017-11-08 02:41] Sergix commented on #70
Yes, we should have seperate commands for directories and files regarding "repeating" commands such as `mv` and `del`, at least for now; if that's your question.

[2017-11-08 23:07] lbenedetto commented on #72
%userprofile% on windows

[2017-11-08 23:11] nanoandrew4 commented on #72
You can get the home directory with Java too.
[code]

Or something of that sort, code written on my phone is not the most reliable :grin:

[2017-11-10 02:06] nanoandrew4 commented on #47
Just finished cleaning up the code and testing, all is good on Unix at least.

I will start transplanting my code to this project, making sure to try not to upset any Windows code...

[2017-11-10 02:11] Sergix commented on #47
Sounds good! 👍

And it's interesting how we have to worry about platform-dependency on what's supposed to be a platform-independent executable. Too bad Java doesn't have more native libraries. 😜

[2017-11-10 02:14] nanoandrew4 commented on #47
The wonders of writing platform-dependent code... It is too bad Java does not do the heavy lifting on that end, but it is what you get for trying to make a terminal program xD. Of course, a lot of the platform dependence could be dropped if you just reverted back to line by line input. Oh what we do for you, autocomplete....

[2017-11-10 02:16] Sergix commented on #53
Hooray! 😆

[2017-11-10 02:16] Sergix commented on #47
Haha! So very true. 🤣

[2017-11-10 17:09] Sergix commented on #53
Commands still use `dir ls`.

Should be a lot easier to fix now though; will attach the commit here.

[2017-11-11 04:37] Sergix opened #75 "No GUI Content"
@lbenedetto Here's the info in case you need it. Also a pushed a commit (https://github.com/Sergix/JTerm/commit/4661af4f831c30b0b03813553a97c0656976d386) with some slight changes to avoid some errors I was getting, but I don't think any of them would have anything to do with this issue.

### Subject of the issue
The JTerm GUI isn't rendering anything except the window itself.

### Environment
- Wi

[2017-11-11 08:15] lbenedetto commented on #75
Ok apparently, only IntelliJ knows how to interpret the .form file. I hadn't considered compatibility with other IDE's.
I figured out how to get IntelliJ to insert the .form file as Java source code so that it'll work in your IDE as well.

I'll submit a pull request with the changes.

[2017-11-11 08:18] lbenedetto commented on #75
We'll have to add this as a dependency

https://mvnrepository.com/artifact/com.intellij/forms_rt/7.0.3

[2017-11-11 10:53] ojles commented on #52
Now it should work fine, so we can close this issue

[2017-11-11 16:12] nanoandrew4 commented on #52
Just wondering, how was this fixed?

[2017-11-11 17:40] nanoandrew4 commented on #72
Has this been fixed? I tested it on my system and it worked well.

[2017-11-11 17:41] nanoandrew4 commented on #47
PR #78 should close this issue.

[2017-11-11 17:45] nanoandrew4 commented on #75
@lbenedetto It's not about compatibility with IDE's, the program should be tested from the command line. If you don't my input system might also get weird on you :S it only likes system command lines, not IDE ones.

[2017-11-11 18:04] lbenedetto commented on #75
No, it works from the command line, as long as the jar file was compiled by intelliJ. I already made a pull request to fix that

[2017-11-11 19:07] nanoandrew4 commented on #75
Oh okay I see. Makes sense now, thank you.

[2017-11-11 19:26] ojles commented on #52
I'm wondering, how was this causing a problem?
Just because we are not using reflection at run-time (only at startup), I guess.
Because we have a fixed map of commands, that implement the `Command` interface

[2017-11-11 20:19] Sergix commented on #52
@nanoandrew4 Is this issue still occurring on your system?

[2017-11-11 20:20] Sergix commented on #72
I'll test it on my system after the PR's merge.

[2017-11-11 20:34] #75 closed

[2017-11-11 20:51] nanoandrew4 commented on #52
I'll let you know later. But it probably doesn't have to do with reflection, it's just a system command and nothing can be done about it so it's probably okay to close this now.

[2017-11-11 21:27] #52 closed

[2017-11-12 18:48] saringer commented on #70
Yes shouldnt be to hard to implement. All I have to do is implement the appropriate method in the class "file.java". I will propose a solution in the upcoming week, as I had no time yet. For solving the issue I will use javas already existing` renameTo` method [https://docs.oracle.com/javase/7/docs/api/java/io/File.html](url)

[2017-11-12 19:09] Sergix commented on #70
Sounds good. And you can take as long as you need, really. Just make sure that the code in `Files` on your machine is up to date with the `dev` branch so there are no conflicts when trying to merge your code! 😀

[2017-11-12 22:02] #47 closed

[2017-11-12 22:08] #73 closed

[2017-11-12 22:10] #40 closed

[2017-11-12 22:10] #53 closed

[2017-11-12 22:18] Sergix commented on #72
This is not working on my system. Nothing changes at all with the directory.

[2017-11-12 22:18] #48 closed

[2017-11-13 05:31] wuhugh commented on #70
Sorry, I don't think I phrased my question very well.

If we had a file `example.txt` and someone ran `dir rm example.txt`, should it remove the file or fail because it is not a directory?

[2017-11-14 02:26] Sergix commented on #70
Well first off, just so you know, it's only `rm` now, the `dir` thing has been removed.

But to answer your question, it should remove the file. Now that we have changed the command format it would be better to include the code for file and directory removal in the same function.

[2017-11-15 15:39] wuhugh commented on #72
Hey, sorry about that. I intended for

`
newDirectory = JTerm.currentDirectory.substring(0, JTerm.currentDirectory.length() - 2);
`

to change the directory string from something like `/home/username/JTerm/` to `/home/username/JTerm`

and

`
newDirectory = newDirectory.substring(0, newDirectory.lastIndexOf('/'));
`

to change the directory string again to `/home/username/` without having to do a f

[2017-11-15 17:14] Sergix commented on #72
Ok, thanks! 👍

[2017-11-17 14:42] Kaperskyguru commented on #72
i want to contribute to this project.. how do i start

[2017-11-17 14:45] nanoandrew4 commented on #72
Can you write code? If so, can you think of anything cool, small or big, to add? You can also look at outstanding bugs and take a stab at fixing them, though that can be a bit more tedious.

[2017-11-17 14:51] Kaperskyguru commented on #72
i can write code.. just tell me the issues... am not too good around github

[2017-11-17 14:54] nanoandrew4 commented on #72
Maybe a good first step then is to learn a bit about Github :) it'll help you get a job in the future and there is a lot of info about it online!

Some outstanding issues are the "cd" command not working properly in windows, as well as the input system not working on windows. If you check the road map you can see what remains to be implemented, and you can pick something to add in.

Hope this help

[2017-11-18 22:39] Sergix commented on #72
@Kaperskyguru Thanks for the interest in our project! We are glad you would like to help.

As @nanoandrew4 , it would be advised to learn your way a bit around GitHub. If you want a specific issue to tackle or a new feature to implement, I can give you something small to get started out with if you like.

Thank you!

[2017-11-18 23:11] Sergix opened #80 "Input Routing"
Route the GUI input and output through the terminal-based functions in `InputHandler`.

This Issue is only to track progress and commits, and is currently assigned to @lbenedetto.

[2017-11-18 23:58] Kaperskyguru commented on #72
@Sergix that will help

[2017-11-19 00:02] Sergix commented on #72
@Kaperskyguru Well if you would like to get started, the ROADMAP shows that we need a function that can move files to a specified directory. Hopefully this won't be too hard, and it will help you learn how our program works. If you have any questions, feel free to ask!

To get started, create a new function in `jterm.command.Files`. I would copy one of the functions already in there along with the

[2017-11-19 00:02] lbenedetto commented on #80
This will involve getting rid of headless mode on Windows, right?
Since headless Windows doesn't use `System.in`, there is no way to interface with it, short of adding a third mode. Which would nullify the advantages of routing IO through overridden `System.in` and `System.out`

[2017-11-19 00:03] Sergix opened #81 "Move Files"
Move files from one directory to another.

This issue is assigned to @Kaperskyguru.

[2017-11-19 00:04] Sergix commented on #72
I will open a new issue so that all of the comments related to this will go there. Put all new comments related to this in #81 from now on.

[2017-11-19 00:05] Sergix commented on #80
Well, no, I wouldn't want to get rid of headless mode on Windows... but doesn't that mean that none of the new code will work if the new functions rely on System.in? or am I misunderstanding?

[2017-11-19 00:54] #81 closed

[2017-11-19 05:41] lbenedetto opened #84 "Colors in terminal"
https://stackoverflow.com/questions/5762491/how-to-print-color-in-console-using-system-out-println

What do you guys think of adding this?

[2017-11-19 05:44] nanoandrew4 commented on #84
I have some functional code for that on my other project, but it doesn't work on Windows 7,8

[2017-11-19 05:45] lbenedetto commented on #84
That wouldn't be a problem if we went the headless/gui on linux, gui only on Windows route that we talked about on slack

[2017-11-19 05:48] nanoandrew4 commented on #84
Up to @Sergix, I have no problem with that. Looks nice and wide range of colors too so I think it's something that would be cool. You'd implement it in the GUI I imagine?

[2017-11-19 05:50] lbenedetto commented on #84
Yep, it would be intercepted and properly interpreted by the PrintStreamInterceptor

[2017-11-19 11:52] Kaperskyguru commented on #84
That feature looks promising

[2017-11-19 12:00] Kaperskyguru commented on #84
Who is handling the issue

[2017-11-19 20:27] Sergix commented on #84
I believe @lbenedetto is.

[2017-11-19 20:32] lbenedetto commented on #84
I would be handling part of it. Someone else should get it working in headless, and I would get it working in GUI. @nanoandrew4 said he had some code in another project that does it, so I'd suggest him

[2017-11-19 20:33] Sergix commented on #84
Ah, ok.

[2017-11-19 21:30] Kaperskyguru commented on #84
great

[2017-11-20 02:13] Sergix commented on #80
#85.

[2017-11-20 15:28] wuhugh commented on #72
I changed the `cd ..` command to split the directory path by slashes (depending on the OS) and built the new directory that way.

[code]
I'm not aware of any other way to specify a path so I think it should work (?).
I can't seem to run the project though, due to an IndexOutOfBounds Expcetion in JTerm.java.
[code]

[2017-11-20 15:36] Sergix commented on #72
Are you running from an IDE?

[2017-11-20 15:40] wuhugh commented on #72
Yeah, I'm running Intellij IDEA.

[2017-11-20 15:45] Sergix commented on #72
Run the JAR from outside the IDE in your system's terminal. If you are on Windows, run the `init`, `build`, and `run` batch scripts.

[2017-11-20 16:26] Sergix commented on #70
@saringer I regret to inform you that this feature has been added by @ojles. If you would like to help tackle something else, we have some other features that need to be completed. Please message me on Slack if you have any questions.

[2017-11-20 16:26] #70 closed

[2017-11-20 18:54] lbenedetto commented on #72
Actually, in IntelliJ you can configure it to build and run the jar when you hit run. This way you can debug as well. Just add the project as a maven project, configure the build artifact. Build the jar and run it from IntelliJ. Then edit the run config and tell it build the artifact before it runs every time

[2017-11-20 20:54] #80 closed

[2017-11-22 14:43] marcluque commented on #22
Hello there guys,
I found your project on up-for-grabs. I would like to suggest you guys some different approach for the command execution. I took a look at the latest version of the project and you were using reflection with annotations in order to execute the commands. The problem I see about this is the reflection, as it's very neat and I as well quite like it and all, but not that efficient.
S

[2017-11-22 14:46] Sergix commented on #22
Hello, @DataSecs! Thanks for you interest in our project. 😄

I have read your proposal, and I think it's a sound idea. I actually had the same concerns as to memory usage. If you could, could you open a new issue and write a small snippet that demonstrates the basis of your suggestion?

Thanks!

[2017-11-22 14:51] marcluque commented on #22
@Sergix
Of course, no need to thank ^^

That's a nice idea. I will get right into it :+1:

PS.: I just noticed you are already putting instances of the Executor in a HashMap, which probably should be bigger than my suggested Command instances. So probably this could be a better approach for memory saving

[2017-11-22 14:59] Sergix commented on #22
@DataSecs Sounds great! If you haven't already, I would create a fork of this repository for future use, and so I can refer to it when you have changes made at some point.

[2017-11-22 15:06] DataSecs opened #92 "Different approach for command execution"
Different approach for command execution:

- currently: reflection
- idea: use of polymorphism

So here is a little snippet of how this could be approached:

https://pastebin.com/YDVT56SJ

Sorry for having it all in one file, couldn't think of a different way. And please don't mind mistakes, as I wrote it just like that into the paste.

[2017-11-22 15:20] Sergix commented on #92
@DataSecs
Ok, I have looked over the code, and I have a few comments.

First off, part of the reason that the new annotation method of doing command classes is in place is so that `-h` can be automated, and only the actual information has to be provided. It was getting a bit clunky having to search for `-h` in every single command class.

Second, a major issue I see with this code is that all comm

[2017-11-22 18:23] marcluque commented on #92
@Sergix
So, I just tried to add what you commented. But first off you are right about the automation of the process of putting the commands in the HashMap. I was a little too quick there and didn't see the impact it would have when there are like a hundred commands. So I came up with a simple reflective solution that solves this problem. It's a method that takes a the path of a package as paramete

[2017-11-22 18:39] Sergix commented on #92
@DataSecs
This code looks much better. 👍

But a couple more things; first, as you can see in `Dir.java` and `Files.java`, we have multiple commands within a class; with this implementation, would you suggest putting each command in its own class, or should there be a way to call a specific command from a class?

And second, not to be too critical, but this doesn't look much different than what we

[2017-11-22 19:00] marcluque commented on #92
@Sergix
I'm happy you like this more!

I could offer you 2 possibilities that come to my mind. First one as you mentioned creating classes for each Command, like mkDir, cd, etc.. Which probably is the more readable and "nicer" solution.
The second one is to just change the execute() method, so it invokes some other methods. Lets say that you have the command class Files, which is now executed with

[2017-11-22 19:46] marcluque commented on #92
Another thing I just noticed was the minimum amount of options that is provided by the annotation. But to resolve this the same approach as for the syntax could be taken. By assigning it in the constructor and then checking it, before the execute() method of a command is executed.

[2017-11-22 22:13] lbenedetto opened #94 "Include current path or folder in prompt"
I think it would be a good idea to have the prompt contain the current folder or full path just like regular terminals do.

[2017-11-22 23:37] Sergix commented on #94
That's what it was originally; it used to be
`directory/ [command]`
for example,
`/home/sergix/projects/ [command]`

[2017-11-22 23:37] nanoandrew4 commented on #94
Should be an easy fix

[2017-11-22 23:40] Sergix commented on #94
I'll go ahead and do it. 😋

[2017-11-22 23:57] nanoandrew4 commented on #92
If I may, just a couple comments. First off, welcome! It's always cool to get a new collaborator! As @Sergix mentioned, maybe consider joining the Slack group which is where most of the discussion regarding the project happens.

I do like the idea of polymorphism, in my opinion it would fit well in this scenario. But two questions spring to mind when I think about overhauling a core component (aga

[2017-11-23 00:02] nanoandrew4 commented on #72
Is this still not solved?

[2017-11-23 00:03] Sergix commented on #92
@DataSecs
I have to agree with @nanoandrew4 here. We have gone through _many_ iterations of command loading, and so far right now we'd like to stick with the current model.

If you would like to join the Slack group though, I can send you an invite. 😀

[2017-11-23 00:08] Sergix commented on #72
on windows headless mode it outputs `Weird stuff...` to the console....

....you don't by any chance have anything to do with this, do you @nanoandrew4?
😜

[2017-11-23 00:10] nanoandrew4 commented on #72
Don't even, I don't deal with commands xD. If this is still an issue however 0.7.0 should be held off for now.

[2017-11-23 00:11] Sergix commented on #72
probably lol.

[2017-11-23 00:38] marcluque commented on #92
@nanoandrew4 @Sergix
I see your points and from your point of view I can understand it. It's very unfortunate. I would have really liked to do it. Without putting pressure or anything I would like to add, that it's better to rewrite the system now instead of when it has 100 commands. Nevertheless I think there is still time to think about it.

And yea I would sure like to join the slack group ^^
D

[2017-11-23 01:11] Sergix commented on #92
@DataSecs
Sure, that sounds good! 👍

To invite you I need your email address. Since it's not available on your profile, you'll need to send me an email with what it is; my email is sergix@outlook.com

[2017-11-23 13:49] marcluque commented on #92
@Sergix
I just noticed another thing. Cleaning up some code, I saw the Client and Server classes. I would suggest you guys to take a look into Netty. It's a framework for networking. I built a library/wrapper upon Netty, called [Hydra](https://github.com/DataSecs/Hydra). Take a look into my repo, it's a lightweight framework which makes the networking much easier and much less painful than using J

[2017-11-23 14:16] marcluque commented on #92
So after messing a bit around I figured out, that it's definitely the ZipInputStream that is not working. As I changed to a BufferedReader that takes an InputStreamReader as parameter it was working without problems. I'm not sure how it works on windows or on your builds, but probably the ZipInputStream should be changed to the BufferedReader.

[2017-11-23 16:16] Sergix commented on #92
@DataSecs Are you running from within your IDE? If so what IDE are you running?

[2017-11-23 16:35] marcluque commented on #92
@Sergix Yea exactly. IntelliJ newest version, 2.6 I guess

[2017-11-23 17:20] Sergix commented on #92
@DataSecs
Run it from your system's terminal.

[2017-11-23 18:37] marcluque commented on #92
@Sergix
That doesn't work either, same problem.

[2017-11-24 01:50] nanoandrew4 commented on #92
Hey @DataSecs

What is the issue? Does the program start but not process any input, or does it just fail to run at all and crash out? Is there any output?

[2017-11-24 01:59] marcluque commented on #92
Hey @nanoandrew4

Sorry for being unpreceise before. The program starts and I can type in. It just prints that the commands I type in are not available. Checking what the reason for that is. I found out that no commands are put in the commands HashMap, so he wouldn't find anything when trying to execute a command. The variable "src" of tape CodeSource points to the right directory but in the next

[2017-11-24 02:01] nanoandrew4 commented on #92
So all is good now?

[2017-11-24 02:03] marcluque commented on #92
On my machine it's working fine with the BufferedReader, but probably that should be pushed, so it's for everyone.
Another thing would be to just rewrite the code that searches the commands and do a reflective approach, instead of the current one, which seems a bit unreliable at some points.

Basically it's the approach I pointed out in my second paste I posted in a comment above.

[2017-11-24 02:04] Sergix commented on #92
@DataSecs
The current code is reflective.

[2017-11-24 02:06] Sergix commented on #92
Oh, you mean in the section that grabs the class files themselves?

[2017-11-24 02:07] marcluque commented on #92
@Sergix
Yea actually that's true. I don't really know about the CodeSource class you are using.

Yes exactly!

[2017-11-24 02:08] Sergix commented on #92
@DataSecs
I can't really search a package for classes using reflection, I have to use a file object or something close to it and search the directory, if that's what you mean.

[2017-11-24 02:11] marcluque commented on #92
@Sergix
Exactly, you basically search for files and then use reflection to get the classes from the names of the files.

[2017-11-24 02:13] Sergix commented on #92
@DataSecs
Yep. Ok, well your code seems to work on my system, so I'll merge the PR. Although I need to merge #95  first, so if there are conflicts then they'll need to be resolved.

Also, did you get my Slack group invitation?

[2017-11-24 02:20] marcluque commented on #92
@Sergix
I didn't dare to change the ZipInputStream to a BufferedReader 😅
I probably put that wrong, I'm sorry! I just did cleanup for now. I could, if you want to, change it and make it use the other code I proposed for the search of files and that bit of reflection.

And yes sure, we'll figure them out in case there are some.

[2017-11-24 02:22] Sergix commented on #92
@DataSecs
Ohohoh, ok! No you're fine, I just misread what you said lol. But thanks for the code cleanup! I just wasn't sure if you changed it to work on your system. But I understand now. 😅

[2017-11-24 02:26] marcluque commented on #92
@Sergix
Ok, I see, good we could get this straight :D
No need to thank for the cleanup!

[2017-11-24 02:43] #92 closed

[2017-11-24 04:43] Sergix commented on #94
https://github.com/Sergix/JTerm/compare/c2770297d02e...0911bc09c5a0

[2017-11-24 04:43] #94 closed

[2017-11-24 18:07] lbenedetto commented on #84
Progress by PR #97

[2017-11-25 19:07] DataSecs opened #100 "HTTP Requests"
What I want to accomplish is some "interface"/functionality for HTTP requests, from which commands can benefit. Commands like the download command shall benefit from the support of HTTP requests. Another thing that could be accomplished with support of HTTP requests are commands that involve different types of HTTP requests, such as GET, PUT, DELETE, and so on. My target is to just provide support

[2017-11-26 21:23] wuhugh commented on #72
Hey sorry, I've been a bit busy these past few days. I'll push my changes once I'm free.

[2017-11-26 21:23] Sergix commented on #72
Ok, thanks! 👍

[2018-02-14 02:41] ppaglilla commented on #22
Hello there!

I found out about the project on up-for-grabs today. I've been reading the source code and I'm interested in contributing. I was thinking about implementing a find command to check if a certain file or directory exists within the working directory.

I imagined a syntax like "find [-h] [-r] name [directoryToSearch]" (where the "-r" option would make it recursive and include checking s

[2018-02-14 04:01] Sergix commented on #22
Hey there, @PabloPaglilla!

Thanks for your interest in our project!

I definitely like the sound of that idea. I actually never thought about including that feature, so thanks for the proposal!

You can go ahead and open the issue. Just make sure you (1) work off of the dev branch, (2) use the command class syntax (if you have any questions on this, feel free to ask!) and (3) track your commits i

[2018-02-14 22:38] ppaglilla commented on #22
Great!

I'll open the issue and start working on it right away.

This is actually my first contribution to an open source project, so thanks for the help! I'll ask if I need anything.

[2018-02-14 22:49] PabloPaglilla opened #109 "Find command"
The idea is to implement a find command which would allow the user to determine whether a certain file or directory exists within the working directory (or in a diferent directory, specified in an optional parameter).

The syntax would be "find [-h] [-r] name [searchDirectory]", where the "-r" option would make it recursive and look into subdirectories too.

I'll start working on it!

[2018-03-03 23:04] #72 closed

[2018-03-04 03:07] Sergix commented on #109
Thanks @PabloPaglilla! View changelog entry #127 for details.

[2018-03-04 03:07] #109 closed

[2018-04-01 23:36] shamlymackey commented on #42
I will just try it for fun and see!
P.S - Pretty new to open source contribution!

[2018-04-01 23:58] Sergix commented on #42
@shamlymackey Sounds great!

[2018-04-06 21:25] importjo opened #114 "Clarifications on InputHandler Class"
Hello, as i was reading InputHandler class for writing a junit test class, i need some clarification on some code line:
1. Does the disassembleCommandOld() function is still good because it seem the other disassembleCommand() function is in use.
https://github.com/Sergix/JTerm/blob/3912a629dafd2eaf2e1b861244fa919a33b215cf/src/main/java/jterm/io/input/InputHandler.java#L231
https://github.com/Sergi

[2018-04-06 21:48] nanoandrew4 commented on #114
It's been quite a while...

Regarding the first question, use the non-old version. The old one was kept in case we needed a fallback, but the new one outperformed the old one, so you can ignore disassembleCommandOld.

Reading input is a bit odd. read(true) indicates that the program should wait for a key to be pressed before continuing, so we usually use that one, since otherwise it would be impos

[2018-04-06 22:41] jbattisti1 commented on #114
Thank you, its clear now!
Regarding disassembleCommanOld, could it be removed from the code?
If a fallback is needed, we could go see the old commits for the code.

[2018-04-07 13:38] Sergix commented on #114
Yeah it can be removed. I’ll go ahead and push that commit soon.

[2018-04-25 05:16] IshaqIdris opened #115 "Latest release not running on Eclipse?"
### Subject of the issue
Ran JTerm.java as Java application in Eclipse. Got error on line 142 of JTerm.java. Commented out the line and the program ran but no commands worked or were recognised in the terminal.

### Your environment
- Mac OS High SIerra
- Java 1.8
- JTerm v0.70

### Steps to reproduce
Created new project in Eclipse by downloading source code zip, and ran JTerm.java as java applica

[2018-04-25 19:31] nanoandrew4 commented on #115
Seems like the command classes aren't being found, and the crash is caused by trying to remove an item from an empty list. @Sergix @DataSecs I have no idea how the classes get loaded, any ideas? May just have to do with using the wrong path to load them or something... There is a note on line 141 that says there is a similar issue on a Linux distro.

[2018-04-25 19:38] Sergix commented on #115
@lshaqldris Try working off of the `dev` branch rather than the master to see if it runs there. Also, can you post a stacktrace of the error so I can look at it in more detail?

[2018-04-25 19:40] Sergix commented on #115
From what I can tell, that specific line has been changed/removed since the last push to master.

[2018-04-30 17:03] jakers1776 commented on #115
is there any news as to how to make it run?

[2018-04-30 17:58] Sergix commented on #115
Do you have the same issue as @lshaqldris , @jakers821?

[2018-05-01 01:45] jakers1776 commented on #115
I am getting this error:

Exception in thread "main" java.lang.IndexOutOfBoundsException: Index: 0, Size: 0
	at java.util.ArrayList.rangeCheck(ArrayList.java:653)
	at java.util.ArrayList.remove(ArrayList.java:492)
	at jterm.JTerm.initCommands(JTerm.java:142)
	at jterm.JTerm.main(JTerm.java:66)

[2018-05-01 02:11] Sergix commented on #115
Yeah, that’s basically the same issue. This means you’re working off of the master branch currently. To run it, switch to the dev branch and everything should be good. If this doesn’t work, please provide another stacktrace. Thanks, and reply back with your result! :smile:

[2018-05-01 03:03] jakers1776 commented on #115
Thanks that worked!

[2018-05-01 04:36] IshaqIdris commented on #115
I moved to the dev branch, the terminal opens now but the commands don't appear to work still?
This is what happens: https://pasteboard.co/Hj6RKYb.png
And theres no error in the console

[2018-05-02 03:44] jakers1776 commented on #115
Same issue here.

[2018-05-02 12:18] Sergix commented on #115
@IshaqIdris @jakers821 Try the following command from your systems terminal: `java -jar [jterm jar file] headless`, replacing the `[jterm jar file]` with the path to where JTerm built on your computer. This will launch JTerm in non-GUI mode. If this successfully works then we will know that your issue is GUI-only, which is what I’m trying to narrow down.

[2018-05-02 23:36] IshaqIdris commented on #115
@Sergix here's what happens when I run the build in headless mode https://pasteboard.co/HjnLWMk.png , is this the expected behaviour?

[2018-05-02 23:39] Sergix commented on #115
No, sadly it’s not haha. It does seem to load correctly, but I suppose command input as a whole is somewhat broken. I’ll look around and see what I can find. I’ll reply back soon, and if at all possible you could perhaps test a couple things for me since I don’t have a Mac. @jakers821 , what OS are you on?

[2018-05-02 23:44] IshaqIdris commented on #115
@Sergix just running the build JAR appears to work https://pasteboard.co/HjnPbyq.png , and yea I don't mind testing some things for you

[2018-05-03 00:27] Sergix commented on #115
Hm ok, that’s odd...

[2018-05-03 20:44] Sergix commented on #115
@IshaqIdris Ok, I just pushed a commit on the `dev` branch with a couple testing lines. I need you to build and run the program in `headless` mode. Right under the Licensing information, there should be a `TEST LINE (OS):` with a `true`/`false` value beside it, which I need to know. Then run a command, it can be anything, I just need to see the output of it. If possible a screenshot of the termina

[2018-05-04 03:04] IshaqIdris commented on #115
@Sergix I ran the new commit, the test line prints out true as shown by this screenshot https://pasteboard.co/HjyzlzR.png and also shows the output when I run a command

[2018-05-04 11:12] Sergix commented on #115
Ok, thank you. So I’m trying to figure out, when you enter a command, are you entering `ls` and then `7`?

[2018-05-04 11:36] IshaqIdris commented on #115
@Sergix  Nope just `ls` then `enter` and the `7` just pops up after that.

[2018-05-04 13:15] Sergix commented on #115
Hm. Ok, well I just pushed another commit for a little more testing. Just run the jar as you have been, in headless mode. Now, when you are typing in the input there will be some output that will appear _as you are typing._ Try to ignore this and enter the command as usual. Probably best just to type `ls` and hit `enter` as you have been doing. Then you can send me the results!

[2018-05-04 15:46] #114 closed

[2018-05-05 01:56] IshaqIdris commented on #115
@Sergix this is the result of running your latest commit https://pasteboard.co/HjHypSq.png

[2018-05-05 02:33] Sergix commented on #115
Huh... Well it seems command input is totally broken on Mac haha. Would you like an invite to our Slack channel? It would make communication easier with fixing this rather than filling up a GitHub issue conversation. All I need to do is send you an email, if that's fine.

[2018-07-22 13:58] nicaraguanec commented on #41
Hi @Sergix,
but Wagon is a just maven plugin provides `Deploy files and directories to SSH servers` feature
So i would propose to use the library behind it: http://www.jcraft.com/jsch/

[2018-07-26 19:16] Sergix commented on #41
@nicaraguanec Ah, gotcha.

[2018-10-01 10:25] Riduidel commented on #42
Instead of using Maven Wagon (which is not that easy), why not implement it over https://commons.apache.org/proper/commons-vfs/ (which beside provides more supported backends, and a very nice interface)

[2019-02-09 02:49] lprone opened #119 "Unused variable"
https://github.com/T145/JTerm/blob/49816ce060eeecf2429caa41609c9d71bfaa1d06/src/main/java/jterm/JTerm.java#L44

This variable is not used

[2019-02-09 02:50] #119 closed

[2019-02-09 03:02] lprone opened #120 "Unnecesary throws"
https://github.com/T145/JTerm/blob/49816ce060eeecf2429caa41609c9d71bfaa1d06/src/main/java/jterm/io/input/RawConsoleInput.java#L132

This exception it's already catched inside the method

[2019-03-08 06:58] jainrish commented on #120
I want to work on this. Let me know if I can take this up.

[2019-04-27 05:28] sananta commented on #120
Addressed this issue: #121

[2019-07-03 03:46] #120 closed

[2019-07-29 15:17] nanoandrew4 opened #122 "Returning contributor looking for issues to work on"
Hey, I used to contribute to this project a while back, and thought about coming back to do a bit more work on it, but I saw there are no open issues, and that the maintainers changed. I talked to Sergix (former maintainer) and he said that the new maintainer is relatively active, so posting an issue should get the ball rolling.

I have about a two to three week to work on the project, so I was th

[2019-08-03 15:11] nanoandrew4 commented on #122
Since I haven't heard back yet, I'll start by improving general code quality and adding tests. Since part of the codebase was written by me a couple years back, the code probably has a lot of room for improvement. I'll also try to add documentation where possible (I don't remember the purpose of the entire application, but I'll give it my best shot). I also just ran some code coverage analysis on

[2019-09-07 19:11] RedCreator37 opened #126 "Which code conventions to use?"
### Which code conventions to use?

I want to improving the code base quality a bit and have noticed that the conventions used are somewhat inconsistent. Sometimes the [project style conventions](https://github.com/T145/JTerm/blob/master/docs/SourceStyleGuide.md) are used but often the standard Java ones are used as well, especially when it comes to whitespace and the position of curly brackets. *

[2019-09-07 19:19] Sergix commented on #126
Hmm... use JavaDoc. I'm trying to remember why I even wrote the style guide in the first place since I ended up using JavaDoc 90% of the time anyways. Sorry for the confusion.

[2019-09-07 19:21] Sergix commented on #126
I'll leave this open until the spec file is removed and the README is updated.

[2019-09-07 19:22] tzuntar commented on #126
OK, thanks for clarification. What about whitespace and curly brackets? Should I use the default "Java" style

<pre>private int something() {
    doSomething();
}</pre>

or follow the style guide, i.e.

<pre>private int something()
{
    doSomething();
}</pre>

[2019-09-07 19:27] Sergix commented on #126
Java style. 👍🏼